{#
/**
 * @file
 * Default theme implementation to format the simplenews newsletter body.
 *
 * Copy this file in your theme directory to create a custom themed body.
 * Rename it to override it. Available templates:
 *   simplenews-newsletter-body--[newsletter_id].html.twig
 *   simplenews-newsletter-body--[view mode].html.twig
 *   simplenews-newsletter-body--[newsletter_id]--[view mode].html.twig
 * See README.txt for more details.
 *
 * Available variables:
 * - build: Render array. Use {{ build }} to print it.
 * - node: object(Drupal\node\Entity\Node)
 *   The node entity with limited access to object properties and methods.
 *   * Methods: Only "getter" methods (method names starting with "get", "has", or "is")
 *     and a few common methods such as "id" and "label" are available.
 *     {{ node.getTitle }} : the Node title ( == {{ title }} )
 *     Calling other methods (such as node.delete) will result in an exception.
 *   * Properties: field values can be accessed as follows:
 *     {{ node.body.value | raw }} : text of body field
 * - newsletter: object(Drupal\simplenews\Entity\Newsletter)
 *     {{ newsletter.from_name }}: string
 *     {{ newsletter.subject }}: string
 * - title: Node title
 * - view_mode: The active display view mode of the node
 * - key: email key [node|test]
 * - format: newsletter format [plain|html]
 * - simplenews_subscriber: object(Drupal\simplenews\Entity\Subscriber)
 *   The subscriber for which the newsletter is built.
 *     {{ simplenews_subscriber.getMail  }}: string: subscriber's email address
 *   Note that depending on the used caching strategy, the generated body might
 *   be used for multiple subscribers. If you created personalized newsletters
 *   and can't use tokens for that, make sure to disable caching or write a
 *   custom caching strategy implemention.
 *
 * @see template_preprocess_simplenews_newsletter_body()
 */
#}

<style>
	table table tbody tr:hover {
	    background-color: initial !important;
	}
	table table {
	    border: 1px solid #E4E4E4 !important;
	    border-top: 5px solid #202272 !important;
	}
	table table tbody tr:first-of-type img {
		height: 55px !important;
		width: 355px !important;
	}
	table table tbody tr td {
	    vertical-align: top !important;
	    border-bottom: 1px solid #E4E4E4 !important;
	    padding: 10px !important;
	}
	table table tbody tr:first-of-type td {
		border-bottom: 5px solid #202272 !important;
	}
	table table tbody tr td:first-of-type {
	    width: 250px !important;
	}
	table table tbody tr td:first-of-type img {
	    width: 250px !important;
	}
	table table a {
	    color: #202272 !important;
	}
	table table td ul,
	table table td li,
	table table td p {
		font-size: 12pt !important;
	}
</style>

{{ build }}

{% if not opt_out_hidden %}
    {% if format == 'html' %}
        <p class="newsletter-footer"><a
                    href="[simplenews-subscriber:unsubscribe-url]">{{ unsubscribe_text }}</a>
        </p>
    {% else %}
        -- {{ unsubscribe_text }} : [simplenews-subscriber:unsubscribe-url]
    {% endif %}
{% endif %}

{% if key == 'test' %}
    - - - {{ test_message }} - - -
{% endif %}
