{% extends "block.html.twig" %}

{% block content %}

	{{ content }}

	<p>{{ 'COVID-19 Specific Categories'|t }}</p>

	<ul>
		<li>
			<a href="/en/covid-19/datasets?sector=Health_Epidemiology">
				<img src="/themes/edp3/assets/images/categories/covid_epid.svg" alt="{{ 'Epidemiology'|t }}" />
				{{ 'Epidemiology'|t }}
			</a>
		</li>
		<li>
			<a href="/en/covid-19/datasets?sector=Health_Healthcare">
				<img src="/themes/edp3/assets/images/categories/covid_heal.svg" alt="{{ 'Healthcare'|t }}" />
				{{ 'Healthcare'|t }}
			</a>
		</li>
		<li>
			<a href="/en/covid-19/datasets?sector=Health_Research">
				<img src="/themes/edp3/assets/images/categories/covid_rese.svg" alt="{{ 'Research'|t }}" />
				{{ 'Research'|t }}
			</a>
		</li>
		<li>
			<a href="/en/covid-19/datasets?sector=Health_Other">
				<img src="/themes/edp3/assets/images/categories/covid_othe.svg" alt="{{ 'Other'|t }}" />
				{{ 'Other'|t }}
			</a>
		</li>
	</ul>

	<div class="data-links">
		<a href="/{{ languageCode }}/covid-19/datasets" class="text-uppercase font-weight-bold mr-3">{{ 'All COVID-19 Datasets'|t }}</a>
		<a href="/{{ languageCode }}/covid-19/initiatives"class="text-uppercase font-weight-bold">{{ 'Data Initiatives'|t }}</a>
	</div>


{% endblock %}