{% extends "block.html.twig" %}

{% block content %}

	<script type="application/json">
		{
			"service": "smk",
			"type": "user",
			"display_user": true,
			"display_user_pic": true,
			"auto_expand_photo": true,
			"auto_expand_video": true,
			"target": true,
			"screen_name": "EU_DataPortal",
			"count": "5",
			"include_rts": false,
			"rts_display_original": false,
			"exclude_replies": true,
			"tweet_more_btn": false
		}
	</script>

	{{ content }}

{% endblock %}