{% extends "block.html.twig" %}

{% block content %}

	<div class="map-wrapper">
		
		<h2>{{ 'Search Datasets'|t }}</h2>

		<ul class="nav nav-tabs" id="searchDatasets" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="category-tab" data-toggle="tab" data-target="#category" href="" role="tab" aria-controls="category" aria-selected="true">{{ 'By category'|t }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="term-tab" data-toggle="tab" data-target="#term" href="/data/datasets?query=&locale={{ languageCode }}" role="tab" aria-controls="term" aria-selected="false">{{ 'By term'|t }}</a>
			</li>
		</ul>
		<div class="tab-content" id="searchDatasetsContent">
			<div class="tab-pane fade show active" id="category" role="tabpanel" aria-labelledby="category-tab">
				
				<ul>
					{% for key,cat in categories %}
						<li>
							<a href="/data/datasets?categories={{ key }}&page=1&locale={{ languageCode }}" target="_blank" class="no-ext">
								<img src="/themes/edp3/assets/images/categories/{{ key }}.svg" alt="{{ cat }}" />
								{{ cat }}
							</a>
						</li>
					{% endfor %}
					{% for i in range(1,emptyCategories) %}
						<li>&nbsp;</li>
					{% endfor %}
				</ul>

			</div>
			<div class="tab-pane fade" id="term" role="tabpanel" aria-labelledby="term-tab">
				<form action="/data/datasets" method="GET">
					<div class="input-group">
						<input type="text" name="query" placeholder="{{ 'Enter terms...'|t }}" class="form-control" />
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">
								{{ 'Search terms'|t }}
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
					<input type="hidden" name="locale" value="{{ languageCode }}" />
				</form>
				{{ content }}
				<a href="/sparql-manager/{{ languageCode }}/" target="_blank" class="btn btn-primary no-ext mt-3">{{ 'SPARQL Manager'|t }}</a>
			</div>
			
		</div>

		<div class="data-links">
			<a href="/data/catalogues?locale={{ languageCode }}" target="_blank" class="text-uppercase font-weight-bold no-ext mr-5 ml-3">{{ 'Data Catalogues'|t }}</a>
			<a href="/data/datasets?locale={{ languageCode }}" target="_blank" class="text-uppercase font-weight-bold no-ext">{{ 'All Datasets'|t }}</a>
		</div>

	</div>

{% endblock %}