{% extends "block.html.twig" %}

{% block content %}
	{{ content }}
	<ul class="stats">

		<li class="stat">
			<div class="number">
				{% for number in countries %}
					<span>{{ number }}</span>
				{% endfor %}
			</div>
			<div class="label">{{ 'Countries'|t }}</div>
		</li>

		<li class="stat">
			<div class="number">
				{% for number in catalogues %}
					<span>{{ number }}</span>
				{% endfor %}
			</div>
			<div class="label">{{ 'Catalogues'|t }}</div>
		</li>

		<li class="stat">
			<div class="number">
				{% for number in datasets %}
					<span>{{ number }}</span>
				{% endfor %}
			</div>
			<div class="label">{{ 'Datasets'|t }}</div>
		</li>

	</ul>
{% endblock %}