{% if links and links|length > 1 -%}
	<form action="" method="POST">
		<div class="input-group">
			<select class="form-control" name="changeLanguage" onchange="this.form.submit()">
				{%- for item in links -%}

					{%- if item.link -%}

						{% set langCode = item.link['#options'].language.id | lower %}

						{% set langUrl = path(item.link['#url'].routeName, item.link['#url'].routeParameters, item.link['#url'].options) %}
						{% set langUrl = langUrl|replace({("/"~language~"/"):("/"~langCode~"/")}) %}

						{% if langUrl == ("/"~language) %}
							{% set langUrl = langUrl|replace({("/"~language):("/"~langCode)}) %}
						{% endif %}

						<option value="{{ langUrl }}" {% if language == langCode %}selected{% endif %}>{{ item.text }} ({{ langCode }})</option>

					{%- endif -%}
						
				{%- endfor -%}
			</select>
			<div class="input-group-append hide-js">
				<button type="submit" class="btn btn-primary"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</form>
	<form action="" method="POST" class="d-none">
		<div class="input-group">
			<select class="form-control" name="changeLanguage" onchange="this.form.submit()">
				{%- for item in links -%}

					{%- if item.link -%}

						{% set langCode = item.link['#options'].language.id | lower %}

						{% set langUrl = path(item.link['#url'].routeName, item.link['#url'].routeParameters, item.link['#url'].options) %}
						{% set langUrl = langUrl|replace({("/"~language~"/"):("/"~langCode~"/")}) %}

						{% if langUrl == ("/"~language) %}
							{% set langUrl = langUrl|replace({("/"~language):("/"~langCode)}) %}
						{% endif %}

						<option value="{{ langUrl }}" {% if language == langCode %}selected{% endif %}>{{ langCode }}</option>

					{%- endif -%}
						
				{%- endfor -%}
			</select>
			<div class="input-group-append hide-js">
				<button type="submit" class="btn btn-primary"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</form>
{%- endif %}