{{ attach_library('edp3/edp-dashboard') }}

<pre id="json-data" class="d-none">{{ content.field_json.0 }}</pre>

{% set filesFullReport = "" %}
{% set filesMethodPaper = "" %}
{% set filesRawScores = "" %}
{% set thisYear = content.field_year.0["#markup"] %}

{% for key, doc in content.field_full_report  %}
  {%if doc.entity %}
    {% set media = doc.entity %}
    {% set file = media.field_media_document.entity %}
    {% set filesFullReport = file_url(file.uri.value) %}
  {% endif %}
{% endfor %}

{% for key, doc in content.field_method_paper  %}
  {%if doc.entity %}
    {% set media = doc.entity %}
    {% set file = media.field_media_document.entity %}
    {% set filesMethodPaper = file_url(file.uri.value) %}
  {% endif %}
{% endfor %}

{% for key, doc in content.field_country_scores  %}
  {%if doc.entity %}
    {% set media = doc.entity %}
    {% set file = media.field_media_document.entity %}
    {% set filesRawScores = file_url(file.uri.value) %}
  {% endif %}
{% endfor %}

<div class="open-data-dashboard" {{ attributes }}>

	<blockquote>{{ content.field_subtitle.0 }}</blockquote>

	<span class="toc-title">{{ 'Jump to section'|t }}</span>
	<ul class="toc">

		<li><a href="#intro">{{ 'Overview'|t }}</a></li>
		<li><a href="#country-overview">{{ 'Country overview'|t }}</a></li>
		<li><a href="#table">{{ 'Detailed country view'|t }}</a></li>
		<li class="hidden-xs"><a href="#landscaping-map">{{ 'Country maturity map'|t }}</a></li>

		{% if not filesFullReport == "" %}
			<li class="download-report"><a href="{{ filesFullReport }}" target="_blank">{{ 'Download the full report'|t }} {{ thisYear }}</a></li>
		{% endif %}
		{% if not filesMethodPaper == "" %}
			<li class="download-method"><a href="{{ filesMethodPaper }}" target="_blank">{{ 'Method Paper'|t }} {{ thisYear }}</a></li>
		{% endif %}
		{% if not filesRawScores == "" %}
			<li class="download-raw"><a href="{{ filesRawScores }}" target="_blank">{{ 'Download Country Scores'|t }} {{ thisYear }}</a></li>
		{% endif %}

		{% if filesFullReport == "" %}
			<li>&nbsp;</li>
		{% endif %}
		{% if filesMethodPaper == "" %}
			<li>&nbsp;</li>
		{% endif %}
		{% if filesRawScores == "" %}
			<li>&nbsp;</li>
		{% endif %}
		
		<li>&nbsp;</li>
	</ul>

	<h2 id="intro">{{ 'Overview'|t }}</h2>

	<div class="row dashboard-overview mb-4">
	    <div class="col">

	    	{% if content.field_year.0["#markup"] > 2017 %}

		    	<div class="row dashboard-policy">
		    		<div class="col-12">
		    			<h3>{{ 'Policy'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-policy-framework">
		                <strong>0%</strong>
		        		<span>Policy Framework</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>

		    		{% if content.field_year.0["#markup"] > 2019 %}

			    		<div class="col" id="progress-overview-policy-governance">
			                <strong>0%</strong>
			        		<span>Governance of open data</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>
			    		<div class="col" id="progress-overview-policy-implementation">
			                <strong>0%</strong>
			        		<span>Open data implementation</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>

		    		{% else %}

			    		<div class="col" id="progress-overview-policy-coordination">
			                <strong>0%</strong>
			        		<span>National Coordination</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>
			    		<div class="col" id="progress-overview-policy-licencing">
			                <strong>0%</strong>
			        		<span>Licencing Norms</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>

		    		{% endif %}

		    		<div class="col"></div>
		    		<div class="col"></div>
		    	</div>

		    	<div class="row dashboard-portals">
		    		<div class="col-12">
		    			<h3>{{ 'Portals'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-portals-features">
		                <strong>0%</strong>
		        		<span>Portal Features</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-portals-usage">
		                <strong>0%</strong>
		        		<span>Portal Usage</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-portals-provision">
		                <strong>0%</strong>
		        		<span>Data Provision</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-portals-sustain">
		                <strong>0%</strong>
		        		<span>Portal Sustainability</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col"></div>
		    	</div>

		    	<div class="row dashboard-impact">
		    		<div class="col-12">
		    			<h3>{{ 'Impact'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-impact-aware">
		                <strong>0%</strong>
		        		<span>Strategic Awareness</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-political">
		                <strong>0%</strong>
		        		<span>Political Impact</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-social">
		                <strong>0%</strong>
		        		<span>Social Impact</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-environment">
		                <strong>0%</strong>
		        		<span>Environmental Impact</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-economic">
		                <strong>0%</strong>
		        		<span>Economic Impact</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    	</div>

		    	<div class="row dashboard-quality">
		    		<div class="col-12">
		    			<h3>{{ 'Quality'|t }}</h3>
		    		</div>

		    		{% if content.field_year.0["#markup"] > 2019 %}

			    		<div class="col" id="progress-overview-quality-monitoring">
			                <strong>0%</strong>
			        		<span>Monitoring and measures</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>
			    		<div class="col" id="progress-overview-quality-currencycomplete">
			                <strong>0%</strong>
			        		<span>Currency and completeness</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>

			    	{% else %}

			    		<div class="col" id="progress-overview-quality-automation">
			                <strong>0%</strong>
			        		<span>Automation</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>
			    		<div class="col" id="progress-overview-quality-currency">
			                <strong>0%</strong>
			        		<span>Data & metadata currency</span>
			        		<div class="progress">
								<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
							</div>
			    		</div>

			    	{% endif %}

		    		<div class="col" id="progress-overview-quality-dcat">
		                <strong>0%</strong>
		        		<span>DCAT-AP Compliance</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-quality-deploy">
		                <strong>0%</strong>
		        		<span>Deployment Quality</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col"></div>
		    	</div>

		    {% else %}

		    	<div class="row dashboard-ready">
		    		<div class="col-12">
		    			<h3>{{ 'Open Data Readiness - Policy and Use'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-ready-presence">
		                <strong>0%</strong>
		        		<span>Presence Policy</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-ready-natcoord">
		                <strong>0%</strong>
		        		<span>National Coordination</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-ready-licensing">
		                <strong>0%</strong>
		        		<span>Licencing Norms</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-ready-use">
		                <strong>0%</strong>
		        		<span>Use of Data</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    	</div>

		    	<div class="row dashboard-maturity">
		    		<div class="col-12">
		    			<h3>{{ 'Portal Maturity'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-maturity-usability">
		                <strong>0%</strong>
		        		<span>Usability</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-maturity-reuse">
		                <strong>0%</strong>
		        		<span>Reusability of data</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-maturity-spread">
		                <strong>0%</strong>
		        		<span>Spread of data across domains</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col"></div>
		    	</div>

		    	<div class="row dashboard-impact-old">
		    		<div class="col-12">
		    			<h3>{{ 'Open Data Readiness - Impact'|t }}</h3>
		    		</div>
		    		<div class="col" id="progress-overview-impact-political">
		                <strong>0%</strong>
		        		<span>Political</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-social">
		                <strong>0%</strong>
		        		<span>Social</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col" id="progress-overview-impact-economic">
		                <strong>0%</strong>
		        		<span>Economic</span>
		        		<div class="progress">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
						</div>
		    		</div>
		    		<div class="col"></div>
		    	</div>

		    {% endif %}
	    </div>
	    {% if content.field_year.0["#markup"] > 2017 %}
	    	<div class="col-3 bg-light overview-totals">
		    	<em>Dimension score (weighted average)</em>
		    	<div class="dashboard-policy" id="progress-overview-policy-total">
			        <strong>0%</strong>
					<span>Policy</span>
					<div class="progress">
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
					</div>
				</div>
				<div class="dashboard-portals" id="progress-overview-portals-total">
			        <strong>0%</strong>
					<span>Portals</span>
					<div class="progress">
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
					</div>
				</div>
				<div class="dashboard-impact" id="progress-overview-impact-total">
			        <strong>0%</strong>
					<span>Impact</span>
					<div class="progress">
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
					</div>
				</div>
				<div class="dashboard-quality" id="progress-overview-quality-total">
			        <strong>0%</strong>
					<span>Quality</span>
					<div class="progress">
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">&nbsp;</div>
					</div>
				</div>
			</div>
		{% else %}
	    	<div class="col-2 bg-light overview-totals">
				<div class="pie dashboard-ready">
					<h3>{{ 'Open Data Readiness'|t }}: <span>0%</span></h3>
					<div class="pie-wrapper"><canvas height="100px" id="readiness" width="100px"></canvas></div>
				</div>
				<div class="pie dashboard-maturity">
					<h3>{{ 'Portal Maturity'|t }}: <span>0%</span></h3>
					<div class="pie-wrapper"><canvas height="100px" id="readiness" width="100px"></canvas></div>
				</div>
	    	</div>
		{% endif %}
	</div>

	<h2 id="country-overview">{{ 'Country overview'|t }}</h2>

	<div class="row country-overview-graph mb-4">
		<div id="wrap-canvas-overview" style="width:100%;height:400px;">
			<canvas height="400" id="overview" width="100%"></canvas>
		</div>
	</div>

	<h2 id="table">{{ 'Detailed country view'|t }}</h2>

	<div class="row dashboard-table mb-4">

		<table>
			<thead>
				 {% if content.field_year.0["#markup"] > 2017 %}
					 <tr role="row">
						<th scope="col" rowspan="1" colspan="1">&nbsp;</th>
						<th colspan="3" rowspan="1" scope="col">Policy</th>
						<th colspan="4" rowspan="1" scope="col">Portals</th>
						<th colspan="5" rowspan="1" scope="col">Impact</th>
						<th colspan="4" rowspan="1" scope="col">Quality</th>
						<th colspan="5" rowspan="1" scope="col">&nbsp;</th>
					</tr>
					<tr role="row">
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending">Country</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Policy framework: activate to sort column ascending">Policy framework</th>
						{% if content.field_year.0["#markup"] > 2019 %}
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Governance of open data: activate to sort column ascending">Governance of open data</th>
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Open data implementation: activate to sort column ascending">Open data implementation</th>
						{% else %}
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="National coordination: activate to sort column ascending">National coordination</th>
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Licencing norms: activate to sort column ascending">Licencing norms</th>
						{% endif %}
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Portal features: activate to sort column ascending">Portal features</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Portal usage: activate to sort column ascending">Portal usage</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Data provision: activate to sort column ascending">Data provision</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Portal sustainability: activate to sort column ascending">Portal sustainability</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Strategic awareness: activate to sort column ascending">Strategic awareness</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Political impact: activate to sort column ascending">Political impact</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Social impact: activate to sort column ascending">Social impact</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Environmental impact: activate to sort column ascending">Environmental impact</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Economic impact: activate to sort column ascending">Economic impact</th>
						{% if content.field_year.0["#markup"] > 2019 %}
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Monitoring and measures: activate to sort column ascending">Monitoring and measures</th>
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Currency and completeness: activate to sort column ascending">Currency and completeness</th>
						{% else %}
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Automation: activate to sort column ascending">Automation</th>
							<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Data &amp;amp; metadata currency: activate to sort column ascending">Data &amp; metadata currency</th>
						{% endif %}
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="DCAT-AP compliance: activate to sort column ascending">DCAT-AP compliance</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Deployment quality: activate to sort column ascending">Deployment quality</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Policy: activate to sort column ascending">Policy</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Portal: activate to sort column ascending">Portal</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Impact: activate to sort column ascending">Impact</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Data Quality: activate to sort column ascending">Data Quality</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Open Data Maturity: activate to sort column ascending">Open Data Maturity</th>
					</tr>
				{% else %}
					<tr role="row">
						<th scope="col" rowspan="1" colspan="1">&nbsp;</th>
						<th colspan="4" rowspan="1" scope="col">Open Data Readiness - Policy and Use</th>
						<th colspan="3" rowspan="1" scope="col">Portal Maturity</th>
						<th colspan="3" rowspan="1" scope="col">Open Data Readiness - Impact</th>
						<th colspan="4" rowspan="1" scope="col">&nbsp;</th>
					</tr>
					<tr role="row">
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending">Country</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Presence Policy: activate to sort column ascending">Presence Policy</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="National Coordination: activate to sort column ascending">National Coordination</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Licensing Norms: activate to sort column ascending">Licensing Norms</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Use of Data: activate to sort column ascending">Use of Data</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Usability: activate to sort column ascending">Usability</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Re-usability of data: activate to sort column ascending">Re-usability of data</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Spread of data across domains: activate to sort column ascending">Spread of data across domains</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Political: activate to sort column ascending">Political</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Social: activate to sort column ascending">Social</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Economic: activate to sort column ascending">Economic</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Open Data Readiness - Policy and Use: activate to sort column ascending">Open Data Readiness - Policy and Use</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Open Data Readiness - Impact: activate to sort column ascending">Open Data Readiness - Impact</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Portal Maturity: activate to sort column ascending">Portal Maturity</th>
						<th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending">Total</th>
					</tr>
				{% endif %}
			</thead>
			<tbody>
			</tbody>
		</table>

	</div>

	<h2 name="table">{{ 'Country maturity map'|t }}</h2>

	<div id="landscaping-map" class="mb-4"></div>


	<span class="toc-title">{{ 'Jump to section'|t }}</span>
	<ul class="toc">
		<li><a href="#intro">{{ 'Overview'|t }}</a></li>
		<li><a href="#country-overview">{{ 'Country overview'|t }}</a></li>
		<li><a href="#table">{{ 'Detailed country view'|t }}</a></li>
		<li class="hidden-xs"><a href="#landscaping-map">{{ 'Country maturity map'|t }}</a></li>
		{% if not filesFullReport == "" %}
			<li class="download-report"><a href="{{ filesFullReport }}" target="_blank">{{ 'Download the full report'|t }} {{ thisYear }}</a></li>
		{% endif %}
		{% if not filesMethodPaper == "" %}
			<li class="download-method format18 format19"><a href="{{ filesMethodPaper }}" target="_blank">{{ 'Method Paper'|t }} {{ thisYear }}</a></li>
		{% endif %}
		{% if not filesRawScores == "" %}
			<li class="download-raw"><a href="{{ filesRawScores }}" target="_blank">{{ 'Download Country Scores'|t }} {{ thisYear }}</a></li>
		{% endif %}
		{% if filesFullReport == "" %}
			<li>&nbsp;</li>
		{% endif %}
		{% if filesMethodPaper == "" %}
			<li>&nbsp;</li>
		{% endif %}
		<li>&nbsp</li>
	</ul>

</div>