<div class="event">

	<p>
		<strong>
			{% if content.field_end_date.0|render|striptags|trim %}
				{{ content.field_start_date.0 }} - {{ content.field_end_date.0 }}
			{% else %}
				{{ content.field_start_date.0 }}
			{% endif %}
		</strong>
	</p>

	<p>
		<i class="fas fa-map-marker-alt"></i>
		{% if content.field_location.0|render|striptags|trim %}
			{{ content.field_location.0 }},
		{% endif %}
		{{ content.field_country.0 }}
	</p>

	{% if content.field_url.0|render|striptags|trim %}
		<a href="{{ content.field_url.0 }}" target="_blank" class="btn btn-primary">{{ content.field_url.0 }}</a>
	{% endif %}

</div>