{{ content }}

{% if (node.field_schema_type.value) == 'Event' %}
	<script type="application/ld+json">
	{
		 "@context": "http://schema.org"
		,"@type": "Event"
		{% if ( node.field_schema_enddate.value ) %}
			,"endDate": "{{ node.field_schema_enddate.value }}"
		{% endif %}
		{% if ( node.field_schema_eventattendancemode.value ) %}
			,"eventAttendanceMode": "{{ node.field_schema_eventattendancemode.value }}"
		{% endif %}
		{% if ( node.field_schema_eventstatus.value ) %}
			,"eventStatus": "{{ node.field_schema_eventstatus.value }}"
		{% endif %}
		{% if ( node.field_schema_inlanguage.value ) %}
			,"inLanguage": "{{ node.field_schema_inlanguage.value }}"
		{% endif %}
		{% if ( node.field_schema_location_locality.value or node.field_schema_location_country.value ) %}
			,"location": {
				"@type": "Place",
				"address": {
					"@type": "PostalAddress"
					{% if ( node.field_schema_location_locality.value ) %}
						,"addressLocality": "{{ node.field_schema_location_locality.value }}"
					{% endif %}
					{% if ( node.field_schema_location_country.value ) %}
						,"addressCountry": "{{ node.field_schema_location_country.value }}"
					{% endif %}
				}
			}
		{% endif %}
		{% if ( node.field_schema_startdate.value ) %}
			,"startDate": "{{ node.field_schema_startdate.value }}"
		{% endif %}
		{% if ( node.field_schema_name.value ) %}
			,"name": "{{ node.field_schema_name.value }}"
		{% endif %}
	}
	</script>
{% elseif (node.field_schema_type.value) == 'SpecialAnnouncement' %}
	<script type="application/ld+json">
	{
		 "@content": "http://schema.org"
		,"@type": "SpecialAnnouncement"
		{% if ( node.field_publication_date.value ) %}
			,"datePosted": "{{ node.field_publication_date.value }}"
		{% endif %}
		{% if ( node.field_schema_name.value ) %}
			,"name": "{{ node.field_schema_name.value }}"
		{% endif %}
		,"category": "https://www.wikidata.org/wiki/Q81068910"
	}
	</script>
{% endif %}