{% set countryOrEurope = "EU," ~ node.field_country.value %}
<div class="country-insight">

	<div class="anchor-nav-top">
        <a href="#blogs" class="btn btn-outline-primary">{{ 'Blogs'|t }}</a>
        <a href="#use-cases" class="btn btn-outline-primary">{{ 'Use Cases'|t }}</a>
        <a href="#reports" class="btn btn-outline-primary">{{ 'Reports'|t }}</a>
        <a href="#events" class="btn btn-outline-primary">{{ 'Events'|t }}</a>
        <a href="#news" class="btn btn-outline-primary">{{ 'News'|t }}</a>
        <a href="#webinars" class="btn btn-outline-primary">{{ 'Webinars'|t }}</a>
    </div>

	<div class="container">
		<div class="row introduction" id="introduction">
			<div class="col-lg-2 col-sm-4 col-12 mb-sm-0 mb-4">
				{{ content.field_flag.0 }}
			</div>
			<div class="col">

				{{ content.body }}

				{% if content.field_latest_factsheet.0 %}
					<a class="btn btn-primary {% if content.body|striptags|trim == '' %}no-intro-text{% endif %}" href="/sites/default/files/{{ content.field_latest_factsheet.0 }}" target="_blank">{{ 'Read the factsheet'|t }}</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container container-white edp-border-top">
		<div class="row">
			<div class="col">
				<h2 id="blogs">{{ 'Blogs from:'|t }} {{ label }}</h2>
				{{ drupal_view('country_insight_blogs','block_1',node.field_country.value) }}
			</div>
		</div>
	</div>

	<div class="container container-white edp-border-top">
		<div class="row">
			<div class="col">
				<h2 id="use-cases">{{ 'Use Cases in:'|t }} {{ label }}</h2>
				{{ drupal_view('use_cases','block_1',node.field_country.value) }}
			</div>
		</div>
	</div>

	<div class="container edp-border-top">
		<div class="row">
			<div class="col-lg-7">
				<div id="reports-in">
					<h2 id="reports">{{ 'Reports in:'|t }} {{ label }}</h2>
					{{ drupal_view('factsheets_and_reports','block_1',countryOrEurope) }}
				</div>
			</div>
			<div class="col-lg-5">
				<div id="block-block-upcoming-events">
					<h2 id="events">{{ 'Open Data Events in:'|t }} {{ label }}</h2>
					{{ drupal_view('upcoming_events','block_1',node.field_country.value) }}
				</div>
				<div id="open-data-news-in">
					<h2 id="news">{{ 'Open Data News in:'|t }} {{ label }}</h2>
					{{ drupal_view('news','block_2',countryOrEurope) }}
				</div>
			</div>
		</div>
	</div>

	<div class="container container-white edp-border-top">
		<div class="row">
			<div class="col">
				<div id="webinar-area">
					<h2 id="webinars">{{ 'Webinars in:'|t }} {{ label }}</h2>
					{{ drupal_view('webinars','block_1',countryOrEurope) }}
				</div>
			</div>
		</div>
	</div>

</div>