{{ attach_library('edp3/edp-styles') }}

<div id="edp3" class="{{ node.type.entity.id }} {% if is_front %}frontpage{% else %}innerpage{% endif %} {% if full_width %}full-width{% endif %} {{ current_path }}">

	<!-- TOP OF PAGE (used for anchor) -->
	<div id="edp-top"></div>

	<div id="header">
		<div class="container">
			<a href="#" class="menu--btn"><span class="fas fa-bars"></span></a>
			{{ page.header }}
		</div>
	</div>

	<div id="primary_menu" {% if menu_depth > 1 %}class="second-level-open"{% endif %}>
		<div class="container">
			{{ page.primary_menu }}
		</div>
	</div>

	{% if page.breadcrumbs|render|striptags|trim %}
		<div id="breadcrumbs">
			<div class="container">{{ page.breadcrumbs }}</div>
		</div>
	{% endif %}

	{% if page.promo_left|render|striptags|trim or page.promo_right|render|striptags|trim %}
		<div id="promo">
			<div class="container">
				<div class="row">

					{% set colLeft = "col" %}
					{% if page.promo_left|render|striptags|trim %}
						{% if page.promo_right|render|striptags|trim %}
							{% set colLeft = "col-lg-8 mb-3" %}
						{% endif %}
					{% endif %}

					{% set colRight = "col" %}
					{% if page.promo_right|render|striptags|trim %}
						{% if page.promo_left|render|striptags|trim %}
							{% set colRight = "col-lg-4 mb-3" %}
						{% endif %}
					{% endif %}

					{% if page.promo_left|render|striptags|trim %}
						<div id="promo_left" class="{{ colLeft }}">{{ page.promo_left }}</div>
					{% endif %}
					{% if page.promo_right|render|striptags|trim %}
						<div id="promo_right" class="{{ colRight }}">{{ page.promo_right }}</div>
					{% endif %}

				</div>
			</div>
		</div>
	{% endif %}

	{% if page.banner_left|render|striptags|trim or page.banner_middle|render|striptags|trim or page.banner_right|render|striptags|trim  %}
		<div id="banner">
			<div class="container">
				<div class="row">

					{% set colLeft = "col" %}
					{% if page.banner_left|render|striptags|trim %}
						{% if page.banner_middle|render|striptags|trim %}
							{% set colLeft = "col-3" %}
						{% elseif page.banner_right|render|striptags|trim %}
							{% set colLeft = "col-lg-7 mb-lg-0 mb-3" %}
						{% endif %}
					{% endif %}

					{% set colRight = "col" %}
					{% if page.banner_right|render|striptags|trim %}
						{% if page.banner_middle|render|striptags|trim %}
							{% set colRight = "col-3" %}
						{% elseif page.banner_left|render|striptags|trim %}
							{% set colRight = "col-lg-5" %}
						{% endif %}
					{% endif %}

					{% if page.banner_left|render|striptags|trim %}
						<div id="banner_left" class="{{ colLeft }}">{{ page.banner_left }}</div>
					{% endif %}
					{% if page.banner_middle|render|striptags|trim %}
						<div id="banner_middle" class="col">{{ page.banner_middle }}</div>
					{% endif %}
					{% if page.banner_right|render|striptags|trim %}
						<div id="banner_right" class="{{ colRight }}">{{ page.banner_right }}</div>
					{% endif %}

				</div>
			</div>
		</div>
	{% endif %}

	{% if page.top_left|render|striptags|trim or page.top_middle|render|striptags|trim or page.top_right|render|striptags|trim  %}
		<div id="top">
			<div class="container">
				<div class="row">

					{% set colLeft = "col" %}
					{% if page.top_left|render|striptags|trim %}
						{% if page.top_middle|render|striptags|trim %}
							{% set colLeft = "col-3" %}
						{% elseif page.top_right|render|striptags|trim %}
							{% set colLeft = "col-lg-7 mb-lg-0 mb-3" %}
						{% endif %}
					{% endif %}

					{% set colRight = "col" %}
					{% if page.top_right|render|striptags|trim %}
						{% if page.top_middle|render|striptags|trim %}
							{% set colRight = "col-3" %}
						{% elseif page.top_left|render|striptags|trim %}
							{% set colRight = "col-lg-5" %}
						{% endif %}
					{% endif %}

					{% if page.top_left|render|striptags|trim %}
						<div id="top_left" class="{{ colLeft }}">{{ page.top_left }}</div>
					{% endif %}
					{% if page.top_middle|render|striptags|trim %}
						<div id="top_middle" class="col">{{ page.top_middle }}</div>
					{% endif %}
					{% if page.top_right|render|striptags|trim %}
						<div id="top_right" class="{{ colRight }}">{{ page.top_right }}</div>
					{% endif %}
				
				</div>
			</div>
		</div>
	{% endif %}

	{% if page.content_left|render|striptags|trim or page.content_middle|render|striptags|trim or page.content_right|render|striptags|trim  %}
		<div id="content">
			<div class="container">
				<div class="row">

					{% set colLeft = "col" %}
					{% if page.content_left|render|striptags|trim %}
						{% if page.content_middle|render|striptags|trim %}
							{% set colLeft = "col-lg-3 mb-lg-0 mb-3" %}
						{% elseif page.content_right|render|striptags|trim %}
							{% set colLeft = "col-lg-7 mb-lg-0 mb-3" %}
						{% endif %}
					{% endif %}

					{% set colRight = "col" %}
					{% if page.content_right|render|striptags|trim %}
						{% if page.content_middle|render|striptags|trim %}
							{% set colRight = "col-3 mb-lg-0 mb-3" %}
						{% elseif page.content_left|render|striptags|trim %}
							{% set colRight = "col-lg-5" %}
						{% endif %}
					{% endif %}

					{% if page.content_left|render|striptags|trim %}
						<div id="content_left" class="{{ colLeft }}">{{ page.content_left }}</div>
					{% endif %}
					{% if page.content_middle|render|striptags|trim %}
						<div id="content_middle" class="col">{{ page.content_middle }}</div>
					{% endif %}
					{% if page.content_right|render|striptags|trim %}
						<div id="content_right" class="{{ colRight }}">{{ page.content_right }}</div>
					{% endif %}
				
				</div>
			</div>
		</div>
	{% endif %}

	{% if page.bottom|render|striptags|trim %}
		<div id="bottom">
			<div class="container">{{ page.bottom }}</div>
		</div>
	{% endif %}
	
	<div id="footer_first">
		<div class="container">
			<div class="row">
				{% if page.footer_first_left|render|striptags|trim %}
					<div class="col-md" id="footer_first_left">{{ page.footer_first_left }}</div>
				{% endif %}
				{% if page.footer_first_middle|render|striptags|trim %}
					<div class="col-md" id="footer_first_middle">{{ page.footer_first_middle }}</div>
				{% endif %}
				{% if page.footer_first_right|render|striptags|trim %}
					<div class="col-md" id="footer_first_right">{{ page.footer_first_right }}</div>
				{% endif %}
			</div>
		</div>
	</div>
	
	<div id="footer_second">
		<div class="container">
			<div class="row">
				<div class="col-md">
					{{ 'Last updated'|t }} {{ node.getChangedTime|date('d/m/Y') }}
				</div>
				<div class="col-md">
					<div class="float-md-right">{{ page.footer_second }}</div>
				</div>
			</div>
		</div>
	</div>
	
	<a href="#edp-top" class="btn-back-top" title="{{ 'Top'|t }}"><i class="fas fa-chevron-up"></i></a>

</div>