{{ attach_library('edp3/edp-promo-covid') }}

<div class="row covid-data-story">

	<div class="col-lg-3 mb-lg-0 mb-3">
		<div class="field field--name-field-thumbnail field--type-image field--label-hidden field__item quickedit-field">
			{{ content.field_thumbnail.0 }}
		</div>
	</div>

	<div class="col">
		<blockquote>
			{{ content.field_subtitle.0 }}
		</blockquote>
		<div class="field field--name-field-publication-date field--type-datetime field--label-hidden field__item quickedit-field">
			{{ content.field_publication_date.0 }}
		</div>
		{{ content.field_country }}
		<div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item quickedit-field">
			{{ content.body }}
		</div>
	</div>

</div>

{% if (content.field_visualisation_library.0|render|raw) == 'conterra' %}
	<script type="text/javascript" src="/mapviewer/resources/jsregistry/root/apprt-boot/4.8.2/boot.js"></script>
{% else %}
	<p>unsupported library {{ content.field_visualisation_library.0|render|raw }}</p>
{% endif %}