/***********************************
    BASE
***********************************/
#edp3 {
    background: #f3fafe;
}
#edp3 .container {
	max-width: 1340px !important;
}
#edp3.full-width #content .container {
    max-width: 100% !important;
}
#edp3 #content {
    margin-top: 15px;
    padding-bottom: 15px;
}
#edp3 #content .container {
    background: #ffffff;
    padding: 15px;
}
#edp3 #content > .container {
    padding: 30px;
}
body.js #edp3 .hide-js {
	display: none;
}


/***********************************
    TYPOGRAPHY
***********************************/
#edp3 *:not(.far):not(.fas):not(.fab) {
    font-family: Helvetica,Arial,sans-serif;
}
#edp3 h1 {
    font-size: 40px;
    color: #202272;
}
#edp3 h2 {
    color: #202272;
    font-size: 24px;
}
#edp3 h3 {
    color: #202272;
    font-size: 20px;
}
#edp3.frontpage h2 {
    font-weight: bold;
}

#edp3 a {
    color: #196FD2;
}

/***********************************
    ELEMENTS
***********************************/
#edp3 select {
	background: white;
	text-shadow: none;
	-webkit-appearance: menulist;
}
#edp3 #content blockquote {
    border-left: 5px solid #202272;
    padding: 5px 5px 5px 15px;
}
#edp3 #content blockquote p {
    margin-bottom: 0;
}
#edp3 #block-edp3-local-tasks ul {
    margin-top: 0;
    margin-bottom: 10px;
}
#edp3 #content ul:not(.viewsearch-items) {
    margin-left: 12px;
    padding-left: 20px;
}

/***********************************
    FORMS
***********************************/
#edp3 #content .form-control,
#edp3 #content .form-file,
#edp3 #content .form-text,
#edp3 #content .form-select {
    background-color: #ffffff;
    padding: .375rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 0;
    box-shadow: none;
    font-size: 1em;
}
#edp3 #content select.no-empty-option option[value=""] {
    display: none;
}
#edp3 .form-control::-webkit-input-placeholder { /* Edge */
  color: #ababab;
}
#edp3 .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ababab;
}
#edp3 .form-control::placeholder {
  color: #ababab;
}

#edp3 article.media--type-image.align-center {
    text-align: center;
    display: block;
}

#sliding-popup.sliding-popup-top {
    position: relative;
}

#edp3 .node--unpublished:before {
    content: "This content is unpublished";
    background-color: rgba(237, 78, 38, 0.75);
    border-left: 5px solid #ee562f;
    padding: 15px;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

/***********************************
    LINKS
***********************************/
#edp3 a[target=_blank]:after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: -3px;
    margin-left: 3px;
}
#edp3 a[href$=pdf]:after {
    content: "\f1c1";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 0;
    margin-left: 3px;
}
#edp3 a[href$=xls]:after,
#edp3 a[href$=xlsx]:after{
    content: "\f1c3";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 0;
    margin-left: 3px;
}
#edp3 a[href$=mp4]:after,
#edp3 a[href$=avi]:after{
    content: "\f1c8";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 0;
    margin-left: 3px;
}
#edp3 a.rss:after {
    content: "\f143";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
    color: #f78d17 !important;
    font-size: initial;
    top: 0px;
}
#edp3 a[href$=txt]:after {
    content: "\f15b";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top: 0;
    margin-left: 3px;
}

#edp3 a.no-ext:after {
    content: "";
}

/***********************************
    GO TO TOP
***********************************/
#edp3 .btn-back-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    background-color: #202272;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 15px;
    display: none;
    
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/***********************************
    BUTTONS
***********************************/
#edp3 .btn.btn-primary {
    background-color: #196fd2;
    border-color: #196fd2;
    background-image: none;
}
#edp3 .btn.btn-primary:hover {
    background-color: #202272;
    border-color: #202272;
}
#edp3 a.btn.btn-primary,
#edp3 #content a.btn.btn-primary {
    color: #ffffff;
}

#edp3 .btn.btn-secondary {
    background-color: #202272;
    border-color: #202272;
}
#edp3 .btn.btn-secondary:hover {
    background-color: #196fd2;
    border-color: #196fd2;
}

#edp3 .btn-outline-primary {
    border-color: #196fd2;
    color: #196fd2;
}
#edp3 .btn-outline-primary:hover {
    background-color: #196fd2;
    color: #ffffff;
}

#edp3 .btn-secondary-secondary {
    border-color: #202272;
    color: #202272;
}
#edp3 .btn-secondary-secondary:hover {
    background-color: #202272;
    color: #ffffff;
}

/* DEBUG TO BE REMOVED */
#edp3 .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c { border: 2px solid #202272; padding: 10px; }
#edp3 #banner .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c { background: #196fd2; color: #ffffff; border-color: #ffffff; }
#edp3 #banner .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c h2 { color: #ffffff; }
#edp3 #top .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c,
#edp3 #bottom .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c { background: #ffffff;}
#edp3 #content .block-block-content7e244dbe-6eff-4d29-b7a3-0328c59fb66c { background: #f3fafe;}