#edp3.search #top {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}
#edp3.search #top #top_middle.col {
    padding: 0;
}
#edp3.search #top .block {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 0;
}
#edp3.search #content {
    margin-top: 0;
}

#edp3 .search-results .view-header {
    color: #042648;
    background-color: #cddbe8;
    border-color: #baccdf;
    padding: .75rem 1.25rem;
    margin-bottom: 15px;
    border-radius: 4px;
}
#edp3 #block-search-form-left form,
#edp3 .search-results .view-filters form {
    border: 1px solid #D7DAE2;
    border-top-width: 5px;
    border-top-color: #202272;
    margin-right: 15px;
    padding: 15px;
    border-radius: 4px;
}
#edp3 #block-search-form-left form {
    margin-right: 0;
}
#edp3.search #block-search-form-left .form-item-term {
    display: none;
}
#edp3 #block-search-form-left .form-item,
#edp3 .search-results .view-filters .form-item {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}
#edp3 #block-search-form-left .form-item label,
#edp3 .search-results .view-filters .form-item label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
#edp3 #block-search-form-left .form-item inpu,
#edp3 .search-results .view-filters .form-item input,
#edp3 #block-search-form-left .form-item select,
#edp3 .search-results .view-filters .form-item select {
    width: 100%;
    height: 38px;
}

#edp3 #block-search-form-left .form-item.form-item-ter,
#edp3 .search-results .view-filters .form-item.form-item-term,
#edp3 #block-search-form-left .form-item.form-item-sort-b,
#edp3 .search-results .view-filters .form-item.form-item-sort-by,
#edp3 #block-search-form-left .form-item.form-item-sort-order,
#edp3 .search-results .view-filters .form-item.form-item-sort-order {
    display: none;
}
#edp3 #block-search-form-left .form-actions,
#edp3 .search-results .view-filters .form-actions {
    margin-bottom: 0;
}
#edp3 #block-search-form-left .form-actions input,
#edp3 .search-results .view-filters .form-actions input {
    width: calc( 50% - 3px );
    margin: 0;
    background-image: none;
    border-radius: 4px;
    background-color: #202272;
    border-color: #202272;
    padding: 5px;
    text-shadow: none;
    color: #ffffff;
    font-weight: normal;
    height: 38px;
}
#edp3 #block-search-form-left .form-actions input#edit-reset,
#edp3 .search-results .view-filters .form-actions input#edit-reset {
    background-color: #fff;
    color: #202272;
}
#edp3 #block-search-form-left .form-actions input:hover,
#edp3 .search-results .view-filters .form-actions input:hover {
    background-color: #196FD2 !important;
    color: #ffffff !important;
    box-shadow: none;
}


#edp3.search #block-search-form-top {
    display: relative;
}
#edp3.search #block-search-form-top .form-item {
    margin: 0;
    float: unset;
}
#edp3 #block-search-form-top .form-item:not(.form-item-term),
#edp3.search #block-search-form-top .form-item label,
#edp3.search #block-search-form-top #edit-reset--3 {
    display: none;
}
#edp3.search #block-search-form-top .form-item input {
    width: calc( 100% - 50px );
    line-height: 1.5;
    border-radius: 4px 0 0 4px;
    border-right-width: 0;
}
#edp3.search #block-search-form-top form {
    padding-bottom: 15px;
    position: relative;
}
#edp3.search #block-search-form-top #edit-actions--3 {
  position: absolute;
  bottom: 15px;
  right: 0;
  margin: 0;
}
#edp3.search #block-search-form-top #edit-actions--3:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 21px;
  margin: auto;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: initial;
  font-size: 15px;
  font-weight: 900;
  content: "\f002";
  pointer-events: none;
}
#edp3.search #block-search-form-top #edit-submit-search--3 {
  overflow: hidden;
  width: 50px;
  height: 38px;
  border: 0;
  border-radius: 0 4px 4px 0;
  color: #fff;
  background-color: #202272;
  background-image: none;
  text-shadow: none;
  font-weight: normal;
  text-indent: -9999px;
}



#edp3 .search-results.site-search .view-content .views-row {
    border: 1px solid #E4E4E4;
    margin-bottom: 15px;
    overflow: hidden;
    border-left: 5px solid #202272;
    border-radius: 4px;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-title {
    display: block;
    background-color: #F7F7F7;
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #E4E4E4;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-title a {
    color: #202272 !important;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-title:after,
#edp3 .search-results.view-news .view-content .viewsearch-item .views-field-title span.viewsearch-header time:after {
    float: right;
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
}
#edp3 .search-results.view-news .view-content .viewsearch-item .views-field-title span.viewsearch-header time:after {
    margin-left: 10px;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-country-insight .views-field-title:after {
    content: "\f024";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-page .views-field-title:after {
    content: "\f15b";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-events .views-field-title:after {
    content: "\f133";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-events .views-field-search-api-excerpt .field-content div:not(.events-body) {
    display: none;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-faq .views-field-title:after {
    content: "\f059";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-article .views-field-title:after,
#edp3 .search-results.view-news .view-content .viewsearch-item .views-field-title span.viewsearch-header.result-article time:after {
    content: "\f1ea";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-highlights .views-field-title:after,
#edp3 .search-results.view-news .view-content .viewsearch-item .views-field-title span.viewsearch-header.result-highlights time:after {
    content: "\f005";
}
#edp3 .search-results.site-search .view-content .views-row.search-result-factsheets-reports .views-field-title:after {
    content: "\f02d";
    font-weight: 600;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-factsheets-reports .views-field-field-publication-date,
#edp3 .search-results.site-search .view-content .views-row.search-result-factsheets-reports .views-field-search-api-excerpt .field-content div:not(.factsheets-body) {
    display: none;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-use-cases .views-field-title:after {
    content: "\f02d";
    font-weight: 900;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-country-insight-blogs .views-field-title:after {
    content: "\f781";
    font-weight: 900;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-training-companion .views-field-title:after {
    content: "\f19d";
    font-weight: 600;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-search-api-excerpt span {
    padding: 10px;
    display: block;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-search-api-excerpt span p {
    margin: 0;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-search-api-excerpt strong {
    color: #202272;
}
#edp3 .search-results.site-search .views-row .field-content.search-result-thumbnail * {
    display: inline;
}
#edp3 .search-results.site-search .views-row .field-content.search-result-thumbnail img {
    width: 100px;
    margin: 10px;
    float: left;
    max-height: 100px;
}

#edp3 .search-results.site-search .view-content .views-row:not(.search-result-events):not(.search-result-factsheets-reports):not(.search-result-use-cases) .views-field-title.views-field-title-with-url,
#edp3 .search-results.site-search .view-content .views-row.search-result-events .views-field-title:not(.views-field-title-with-url),
#edp3 .search-results.site-search .view-content .views-row.search-result-factsheets-reports .views-field-title:not(.views-field-title-with-url),
#edp3 .search-results.site-search .view-content .views-row.search-result-use-cases .views-field-title:not(.views-field-title-with-url) {
    display: none;
}

#edp3 .search-results.site-search .view-content .views-row.search-result-use-cases .views-field-title:after {
    right: 10px;
    position: absolute;
}

#edp3.search .views-row {
    position: relative;
}
#edp3.search .views-field-field-publication-date-time,
#edp3.search .views-field-field-publication-date {
    float: right;
    position: relative;
    top: -32px;
    font-size: 14px;
    right: 43px;
}
#edp3.search .views-row.search-result-use-cases .views-field-field-publication-date {
    top: 13px;
}
#edp3 .search-results.site-search .view-content .views-row .views-field-title:after {
    width: 30px;
    text-align: center;
}


#edp3 .search-results li.pager__item {
    padding: 0;
}
#edp3 .search-results li.pager__item a,
#edp3 .search-results li.pager__item.pager__item--ellipsis {
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #202272 !important;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    font-weight: normal;
    text-decoration: none;
}
#edp3 .search-results li.pager__item a:hover {
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
#edp3 .search-results li.pager__item.is-active a {
    z-index: 1;
    color: #ffffff !important;
    background-color: #074a8b;
    border-color: #074a8b;
}
#edp3 .search-results ul.pager__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
#edp3 .search-results li.pager__item a {
    border-left-width: 0;
}
#edp3 .search-results li.pager__item:first-child a {
    border-left-width: 1px;
    border-radius: 4px 0 0 4px;
}
#edp3 .search-results li.pager__item:last-child a {
    border-radius: 0 4px 4px 0;
}
#edp3 .search-results li.pager__item.pager__item--ellipsis {
    height: 38px;
    margin-top:-1px;
    border-left-width: 0;
}

/* TOP FILTERS: SEARCH DOMAIN + ORDER */
#edp3 .domain-wrap .domain > div {
    display: inline-block;
    margin-right: 10px;
}
#edp3 .domain-wrap {
    background: #202272;
    color: #fff;
    float: left;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 0 15px 15px 0;
}
#edp3 .domain-wrap label {
    font-weight: normal;
    padding: 0;
    margin: 0;
}
#edp3 .domain-wrap .radiobutton label {
    cursor: pointer;
    display: block;
}
#edp3 .domain-wrap .radiobutton input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin-right: 5px;
}
#edp3 .domain-wrap .radiobutton input[type="radio"] + label::before {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right: 5px;
    padding-top: 2px;
    padding-left: 4px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    color: #202272;
    position: relative;
    top: -1px;
}
#edp3 .domain-wrap .radiobutton input[type="radio"]:checked + label::before {
    content: "\f00c";
}
#edp3 .order-wrap {
    float: left;
    margin-bottom: 15px;
    position: relative;
}
#edp3 .order-wrap .btn.order {
    padding: 7px 10px;
    text-align: left;
}
#edp3 .order-wrap .btn.order:after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 7px;
}
#edp3 .order-wrap .order-list {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
    width: 100%;
    min-width: 220px;
    border: 1px solid #f2fafe;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
#edp3 .order-wrap .order-list.order-list__visible {
    display: block;
}
#edp3 .order-wrap .order-list button {
    padding: 8px 10px;
    background: #fff;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #d4d6f7;
    text-align: left;
}
#edp3 .order-wrap .order-list button:last-child {
    border-bottom: 0;
}
#edp3 .order-wrap .order-list button:hover {
    background: #d4d6f7;
    color: #202272;
}


/* FIX FOR USE CASES AND OTHER PAGE SEARCHES */
#edp3:not(.search) .search-results {
    display: flex;
    flex-wrap: wrap;
}
#edp3:not(.search) .search-results .pager {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
#edp3:not(.search) .search-results .view-header {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: calc(25% - 15px);
    position: relative;
    overflow: hidden;
}
#edp3:not(.search) .search-results .view-header + .view-filters {
    position: relative;
    top: -63px;
}
#edp3:not(.search) .search-results .view-filters {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: calc( 25% - 15px );
}
#edp3:not(.search) .search-results .view-content {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}


/* Search page filter button style - Mobile */
#edp3 .btn-filter-search {
    display: none;
    border-bottom: 1px solid #202272;
    overflow: hidden;
    width: 100%;
}
#edp3 .btn-filter-search .fas {
    color: #fff;
    background: #202272;
    padding: 12px 14px;
    width: 50px;
    float: right;
    border-radius: 4px 4px 0 0;
    text-align: center
}


#edp3 .search-results.site-search .view-content .views-row span.views-field-title {
    padding-right: 120px;
}
#edp3.search .views-row.search-result-use-cases .views-field-field-publication-date {
    position: absolute;
}
#edp3 .search-results.site-search .view-content .views-row.search-result-use-cases .views-field-title:after {
    top: 11px;
}