/***********************************
    COUNTRY INSIGHTS
***********************************/
#edp3 .view-country-insights ul.list-country-insights {
    margin: 15px;
    padding: 0;
}
#edp3 .view-country-insights ul.list-country-insights li {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}
#edp3 .view-country-insights ul.list-country-insights li a {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #202272 !important;
    margin-top: 10px;
    line-height: 1.2;
}
#edp3 .view-country-insights ul.list-country-insights li .views-field-field-flag {
    padding: 0 5px;
}
#edp3 .view-country-insights ul.list-country-insights li img {
    border: 1px solid #e4e4e4;
}

/***********************************
    FREQUENTLY ASKED QUESTIONS
***********************************/
#edp3 .view-id-faq_list h3 {
    margin-top: 20px;
    color: #202272;
    font-size: 24px;
}
#edp3 .view-id-faq_list .views-row {
    border: 1px solid #0065a2;
    border-top: 5px solid #0065a2 !important;
    padding: 0;
    margin-bottom: 10px;
}
#edp3 .view-id-faq_list .views-row .faq-question {
    display: block;
    color: #0065a2;
    padding: 10px;
    cursor: pointer;
}
#edp3 .view-id-faq_list .views-row .faq-question:after {
    content: "\f103";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
}
#edp3 .view-id-faq_list .views-row .faq-answer {
    border-top: 1px solid #c1d6e7;
    display: none;
    padding: 10px;
}
#edp3 .view-id-faq_list .views-row .faq-answer p:last-of-type {
    margin-bottom: 0;
}
#edp3 .view-id-faq_list .views-row.open .faq-answer {
    display: block;
}
#edp3 .view-id-faq_list .views-row.open .faq-question:after {
    content: "\f102";
}
#edp3 .view-id-faq_list .views-row.open .faq-question {
    background-color: #f6f6f3;
}
#edp3 .view-id-faq_list .views-row .faq-answer ul {
    margin-top: 10px;
    margin-left: 5px;
}

/***********************************
    FULL CALENDAR VIEW
***********************************/
#edp3 .view-events-calendar a.rss {
    float: right;
    margin-right: 5px;
    text-decoration: none;
}
#edp3 .js-drupal-fullcalendar .fc-right {
    display: none;
}
#edp3 .js-drupal-fullcalendar .fc-button {
    background-color: #202272;
    background-image: none;
    color: #ffffff;
    text-shadow: none;
    border-color: #202272;
    box-shadow: none;
}
#edp3 .js-drupal-fullcalendar .fc-button-group .fc-button:first-of-type {
    margin-right: 2px;
}
#edp3 .js-drupal-fullcalendar .fc-toolbar {
    text-align: left;
}
#edp3 .js-drupal-fullcalendar .fc-center {
    margin: 3px 0 0 15px;
}
#edp3 .js-drupal-fullcalendar .fc-day-header {
    text-transform: unset;
    background-color: #202272;
    color: #ffffff;
    font-weight: normal;
    padding: 3px
}
#edp3 .js-drupal-fullcalendar .fc-head-container table {
    margin-bottom: 0;
}
#edp3 .js-drupal-fullcalendar .fc-week thead tr {
    border-bottom: none;
}
#edp3 .js-drupal-fullcalendar .fc-day-top .fc-day-number {
    float: none;
}
#edp3 .js-drupal-fullcalendar .fc-event {
    background-color: #202272 !important;
    color: #ffffff !important;
    border-color: #202272;
    padding: 5px;
}
#edp3 .js-drupal-fullcalendar .fc-event a {
    color: #ffffff !important;
}
#edp3 .js-drupal-fullcalendar tbody tr:hover,
#edp3 .js-drupal-fullcalendar tbody tr:focus {
    background-color: initial;
}
#edp3 .js-drupal-fullcalendar .fc-today {
    background-color: #d5d6f7;
}

/***********************************
   LICENSING ASSISTANT
***********************************/
#edp3 #la-target .la-button {
    margin-right: 5px;
    margin-bottom: 5px;
}
#edp3 #la-target nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
#edp3 #la-target thead > tr {
    border: none;
}
#edp3 #la-target thead th {
    text-transform: none;
    border: none;
    background-color: #fff;
}
#edp3 #la-target tr {
    display: flex;
    padding: 0;
}
#edp3 #la-target tr td {
    margin-bottom: 0 !important;
}
#edp3 #la-target tr td a {
    cursor: pointer;
}
#edp3 #la-target tr td a:hover {
    text-decoration: underline;
}
#edp3 #la-target tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
#edp3 #la-target .search-box button:before {
    content: "\f013";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
#edp3 #la-target label input {
    margin-right: 5px;
    position: relative;
    top: -1px;
}
#edp3 #la-target label {
    font-weight: normal;
}

/***********************************
   LOGIN
***********************************/
#edp3 .user-login-form {
    margin: 50px;
}
#edp3 .user-login-form input {
    background-color: #ffffff;
    padding: .375rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 0;
    box-shadow: none;
    display: inline-block;
}
#edp3 .user-login-form label {
    font-weight: normal;
    width: 100px;
    display: inline-block;
}
#edp3 .user-login-form label:after {
    content: none;
}
#edp3 .user-login-form .description {
    display: none;
}
#edp3 .user-login-form .button {
    background-color: #202272;
    background-image: none;
    text-shadow: none;
    color: #ffffff;
    font-weight: normal;
    width: 100px;
    margin-left: 104px;
}

/***********************************
    VIEW SEARCHES
***********************************/
#edp3 ul.viewsearch-items {
    margin: 0;
    padding: 0;
}
#edp3 ul.viewsearch-items li.viewsearch-item {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid #E4E4E4;
    border-left: 5px solid #202272;
    border-radius: 4px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .viewsearch-header {
    display: block;
    background-color: #F7F7F7;
    padding: 10px 15px;
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
}
#edp3 ul.viewsearch-items li.viewsearch-item .viewsearch-header a {
    color: #202272 !important;
}
#edp3 ul.viewsearch-items li.viewsearch-item .viewsearch-header time {
    font-size: 14px;
    float: right;
    top: 2px;
    position: relative;
    padding-left: 10px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-thumbnail {
    float: left;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-thumbnail img {
    max-width: 100px;
    height: auto;
    margin: 10px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-label {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    width: 75px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-sector .field-content,
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-nature .field-content {
    display: inline-block;
    font-size: 14px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-body {
    font-size: 14px;
    margin-top: 5px;
    padding-left: 95px;
    margin-bottom: 10px;
}
#edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-subtitle {
    padding: 15px 0;
}

#edp3 ul.viewsearch-items li.viewsearch-item .views-field-body p {
    margin-bottom: 0;
    padding-right: 15px;
}

/***********************************
    FACTSHEETS AND REPORTS
***********************************/
#edp3 .search-results table thead th {
    text-transform: unset;
    background-color: #202272;
    color: #ffffff;
    border: none;
}
#edp3 .search-results table thead th:first-of-type {
    width: 200px;
}
#edp3 .search-results.view-factsheets-and-reports table thead th:first-of-type {
    width: auto;
}
#edp3 .view-factsheets-and-reports table .views-field-title * {
    display: inline-block;
}
#edp3 .view-factsheets-and-reports table .views-field-title ul {
    margin-left: 15px;
    padding: 0;
    display: inline;
}
#edp3 .view-factsheets-and-reports table .views-field-title ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0;
}
#edp3 .view-factsheets-and-reports table .views-field-title ul li a {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 5px;
    color: #202272 !important;
    text-decoration: none;
}
#edp3 .view-factsheets-and-reports table .views-field-title ul li a:hover {
    background-color: #efefef;
}

/***********************************
    NEWS ARCHIVE
***********************************/
#edp3.news-events--news a.rss {
    /* position: absolute;
    right: 15px;
    top: -41px; */
    float: right;
    color: #202272;
}

/***********************************
    TELL US YOUR STORY WEBFORM
***********************************/
#edp3 form#webform-submission-tell-us-your-story-add-form .form-item label,
#edp3 form#webform-submission-tell-us-your-story-add-form fieldset .fieldset-legend {
    color: #202272;;
}
#edp3 form#webform-submission-tell-us-your-story-add-form fieldset .form-item label {
    color: initial;
}
#edp3 form#webform-submission-tell-us-your-story-add-form .form-item .description {
    font-size: 14px;
    color: #777777;
}
#edp3 form.webform-submission-form .captcha label {
    display: block;
}
#edp3 form.webform-submission-form .captcha span {
    display: inline-block;
}
#edp3 form.webform-submission-form .captcha input {
    display: inline-block;
    width: 200px;
}

/***********************************
    LANDING PAGES
***********************************/
#edp3 #block-impactstudiesoverview .field--name-body > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li {
    list-style-type: none;
    flex: 0 0 25%;
    padding: 0px;
    margin-top: 30px;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li strong {
    color: #202272;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li > ul {
    margin: 0;
    padding: 0;
    padding: 0 15px;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li > ul > li {
    list-style-type: none;
    border: 1px solid #D9D9DC;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li > ul > li:first-of-type {
    border-bottom: none;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li > ul > li:first-of-type img {
    width: 100%;
}
#edp3 #block-impactstudiesoverview .field--name-body > ul > li > ul > li:last-of-type {
    padding: 15px;
    font-size: 14px;
    background-color: #F1F9FD;
}

/***********************************
    NEWSLETTER FORM
***********************************/
#edp3 form#simplenews-confirm-add #edit-submit {
    border-radius: 4px;
    background-image: none;
    background-color: #202272;
    text-shadow: none;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
#edp3 form#simplenews-confirm-add #edit-cancel {
    border-radius: 4px;
    background-image: none;
    background-color: #f3f3f3;
    color: #202272;
    text-shadow: none;;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}