#edp3 #block-promoted-carousel .slick-controls button,
#edp3 #block-promoted-carousel .slick-controls button:hover {
  background-repeat: no-repeat;
  background-position: center;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-pause {
  background-image: url("carousel-nav/pause-blue.svg");
  background-size: 32%;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-pause:hover {
  background-image: url("carousel-nav/pause-light.svg");
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-play {
  background-image: url("carousel-nav/play-blue.svg");
  background-size: 32%;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-play:hover {
  background-image: url("carousel-nav/play-light.svg");
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-prev,
#edp3 #block-promoted-carousel .slick-controls button.slick-c-next {
  background-size: 23%;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-prev {
  background-image: url("carousel-nav/left-blue.svg");
  background-position-x: 47%;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-prev:hover {
  background-image: url("carousel-nav/left-light.svg");
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-next {
  background-image: url("carousel-nav/right-blue.svg");
  background-position-x: 53%;
}
#edp3 #block-promoted-carousel .slick-controls button.slick-c-next:hover {
  background-image: url("carousel-nav/right-light.svg");
}