/***********************************
  RESPONSIVE
***********************************/

@media screen and (max-width: 1200px) {

    /* OPEN DATA MATURITY ********************/ 
    #edp3 #content_middle #block-opendatamaturitydashboards-2 > div {
        float: none;
        padding-bottom: 15px;
    }
    #edp3 #content_middle #block-opendatamaturitydashboards-2 ul li {
        min-width: 0;
    }

    /* TRAINING COMPANION  ********************/
    #edp3 #block-training-companion-list ul li {
        flex: 0 0 25%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    
    /* HEADER ********************/
    #edp3 #block-abouttheeuropeandataportal ul.stats li .number span {
        width: 22px;
        font-size: 26px;
    }
    #edp3 #block-abouttheeuropeandataportal ul.stats li .label {
        font-size: 16px;
    }

}

@media screen and (min-width: 991px) {

    /* NAV ********************/
    #edp3 #primary_menu nav.menu--main > ul.menu {
        display: flex !important;
    }

    /* SEARCH ********************/
    #edp3.search #block-search-form-left,
    #edp3.search .domain-wrap,
    #edp3.search .order-wrap,
    #edp3:not(.search) .search-results .view-filters {
        display: block !important;
    }

}

@media screen and (max-width: 991px) {

    /* SEARCH ********************/
    #edp3 .btn-filter-search {
        display: block;
    }
    /* #edp3.search .btn-filter-search + #block-search-form-left,
    #edp3.search .domain-wrap,
    #edp3.search .order-wrap, */
    #edp3:not(.search) .search-results .view-filters {
        display: none;
    }
    #edp3.search .btn-filter-search + #block-search-form-left > form,
    #edp3:not(.search) .search-results .btn-filter-search ~ .view-filters > form {
        border-radius: 0 0 4px 4px;
    }
    #edp3:not(.search) .search-results .btn-filter-search ~ .view-filters {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 990px) {
    

    /* HEADER ********************/
    #edp3 #header {
        position: sticky;
        top: 0;
        z-index: 101;
        border-bottom: 1px solid #D5D6F7;
    }
    #edp3 #header #block-edp3-branding {
        margin-left: 0;
        padding-left: 0;
    }
    #edp3 #header .block-language {
        border-radius: 4px;
    }
    #edp3 #header .block-language .form-control {
        height: 40px;
        border-radius: 4px;
        max-width: 160px;
    }
    #edp3 #header #block-search .input-group-prepend,
    #edp3 #header #block-search .form-control {
        display: none;
    }
    #edp3 #header #block-search .btn {
        border-radius: 4px;
    }
    #edp3 #header #block-search .btn {
        height: 40px;
        border-radius: 4px;
    }
    #edp3 #header #block-search .btn.search-fixed-top {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 101;
        border: 1px solid #fff;
    }

    /* RESPONSIVE NAV BUTTON ********************/
    #edp3 .menu--btn {
        display: block;
    }

    /* NAV ********************/
    #edp3 #primary_menu {
        overflow: hidden;
        height: auto;
    }
    #edp3 #primary_menu {
        margin-bottom: 0;
        top: 81px !important;
    }
    #edp3 #primary_menu.second-level-open {
        margin-bottom: 0;
    }
    #edp3 #primary_menu > .container {
        padding-left: 0;
        padding-right: 0;
    }
    #edp3 #primary_menu .menu--main > ul.menu {
        display: none;
        overflow: hidden;
        height: calc(100vh - 81px);
        overflow-y: scroll;
        border-top: 1px solid #196fd2;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
    }
    #edp3 #primary_menu ul.menu li {
        flex: none;
    }
    #edp3 #primary_menu ul.menu li a {
        text-align: left;
        padding-left: 15px;
    }
    #edp3 #primary_menu ul.menu li ul {
        display: block;
        overflow: hidden;
    }
    #edp3 #primary_menu .menu--main > ul.menu > .menu-item:first-child {
        padding-bottom: 0 !important;
    }
    #edp3 #primary_menu .menu--main > ul.menu > .menu-item:first-child a {
        border-top: 0;
        width: auto !important;
        background: transparent !important;
    }
    #edp3 #primary_menu .menu--main > ul.menu > .menu-item:first-child a:before {
        margin-right: 5px;
    }
    #edp3 #primary_menu .menu--main > ul.menu > .menu-item {
        padding-bottom: 10px !important;
    }
    #edp3 #primary_menu .menu--main > ul.menu > .menu-item > a {
        border-top: 1px solid #196fd2;
        font-weight: bold;
        padding-left: 0;
        margin: 0;
        font-size: 1rem !important;
    }
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail,
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail>ul.menu {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail>ul.menu {
        position: relative;
        display: block;
    }
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail.open>ul.menu li,
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail>ul.menu li {
        display: block;
        width: auto;
    }
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail>ul.menu>li.menu-item a {
        display: block;
        text-align: left;
        background: transparent;
        border-color:transparent !important;
        margin: 0;
        padding: 10px 14px;
        color: #dff3ff;
    }
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail.open,
    #edp3 #primary_menu nav>ul.menu>li.menu-item--active-trail.open>ul.menu {
        padding: 0;
        background-color: transparent;
    }

    /* HOME ********************/
    #edp3 #banner > .container > .row {
        flex-direction: column-reverse;
    }
    #edp3 #block-searchdatasets div.tab-content {
        height: auto;
    }
    #edp3 #block-searchdatasets .map-wrapper {
        min-height: 0;
        margin-top: 30px;
        position: relative;
    }
    #edp3 #block-searchdatasets #term {
        padding-bottom: 40px;
    }
    #edp3 #block-searchdatasets #category ul li {
        flex: 1 0 25%;
    }
    #edp3 #block-abouttheeuropeandataportal .field--name-body {
        text-align: left;
    }
    #edp3 #block-abouttheeuropeandataportal p {
        width: 100%;
        text-align: left;
    }

    /* LATEST REPORTS ********************/
    #edp3 #top #block-promoted-slideshow,
    #edp3 #top #block-promoted-carousel {
        margin-bottom: 15px;
    }

    /* LATEST NEWS ********************/
    #edp3 #block-latest-news .view-content .views-row {
        flex: 0 0 50%;
        max-width: calc(50% - 15px);
    }

    /* OVERVIEW ********************/
    #edp3 #block-impactstudiesoverview .field--name-body > ul > li {
        flex: 0 0 50%;
    }

    /* OTHER SEARCH ********************/
    #edp3:not(.search) .search-results .view-filters,
    #edp3:not(.search) .search-results .view-header + .view-filters,
    #edp3:not(.search) .search-results .view-content,
    #edp3:not(.search) .search-results .view-header {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        top: auto;
        margin: 15px 0;
    }
    #edp3:not(.search) .search-results .view-filters {
        order: 1;
    }
    #edp3:not(.search) .search-results .view-header {
        order: 2;
    }
    #edp3:not(.search) .search-results .view-content {
        order: 3;
    }
    #edp3:not(.search) .search-results .pager {
        order: 4;
    }
    #edp3 #block-search-form-left form,
    #edp3 .search-results .view-filters form {
        margin-right: 0;
    }
    #edp3:not(.search) .search-results .view-content table.views-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    /* OTHER SEARCH FILTER ********************/
    #edp3 #block-search-form-left .form-item,
    #edp3 .search-results .view-filters .form-item {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0 10px 15px 0;
    }
    #edp3 #block-search-form-left .form-actions input,
    #edp3 .search-results .view-filters .form-actions input {
        width: calc(25% - 10px);
        margin: 10px 7px 10px 0;
    }

    /* PAGER ********************/
    #edp3 .search-results ul.pager__items {
        display: block;
        overflow: hidden;
    }
    #edp3 .search-results li.pager__item {
        overflow: hidden;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    #edp3 .search-results li.pager__item a {
        float: left;
        overflow: hidden;
        border-width: 1px;
        min-width: 40px;
    }
    #edp3 .search-results li.pager__item.pager__item--ellipsis {
        height: 39px;
        border-width: 1px;
        min-width: 40px;
    }

    /* COUNTRY INSIGHTS ********************/
    #edp3.country_insight .anchor-nav-top {
        display: none;
    }

    /* WEBINARS ********************/
    #edp3.country_insight #webinar-area ul {
        flex-wrap: wrap;
    }
    #edp3.country_insight #webinar-area ul li {
        flex: 0 0 calc(50% - 20px);
    }
    #edp3.country_insight #webinar-area .view-footer {
        padding-top: 10px;
        padding-right: 10px;
    }

    /* PROMO COVID ********************/
    #edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li,
    #edp3.covid-19--stories #content .view-content > .item-list > ul > li {
        flex: 0 0 50%;
    }

    /* PROMO COVID ********************/
    #edp3:not(.search) .search-results.search-results-with-blockquote .view-header-results {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
    }

}

@media screen and (min-width: 991px) and (max-width: 1150px) {
    /* HEADER ********************/
    #edp3 #header #block-search {
        max-width: calc(100% - 645px);
    }
    #edp3 #header #block-search .input-group-prepend {
        flex: 1 1 0%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1090px) {

    /* FOOTER ********************/
    #edp3 #footer_first #block-sitebranding .site-branding__text a {
        line-height: 1;
        width: 150px;
        padding-top: 13px;
        padding-left: 5px;
        display: inline-block;
    }
    #edp3 #footer_first #block-fundedby p:nth-child(2) {
        line-height: 1;
        width: 180px;
    }

}
@media screen and (max-width: 780px) { 
    /* HEADER ********************/
    #edp3 #header #block-edp3-branding {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 73px;
    }
    #edp3 #header #block-edp3-branding .site-branding__text a {
        font-size: 18px;
        width: 200px;
        line-height: 1;
        padding-left: 0;
        padding-top: 10px;
    }
    #edp3 #header #block-edp3-branding .site-branding__text a strong {
        display: inline-block;
    }
}

@media screen and (max-width: 715px) { 

    /* HEADER ********************/
    #edp3 #header {
        height: 73px;
    }
    #edp3 #header > .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    #edp3 #header #block-edp3-branding img {
        height: 36px;
        margin-right: 7px;
    }
    #edp3 #header #block-edp3-branding .site-branding__text a {
        padding-top: 0;
    }
    #edp3 #header #block-edp3-branding .site-branding__name {
        display: flex;
    }
    #edp3 #header .block-language {
        margin-left: 0;
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        position: sticky;
        z-index: 99;
        top: 0;
    }
    #edp3 #header .block-language .form-control {
        font-size: 14px;
        height: 40px;
    }
    #edp3 #header #block-search {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* RESPONSIVE NAV BUTTON ********************/
    #edp3 .menu--btn {
        margin-top: 15px;
        margin-left: 5px;
    }

    /* NAV ********************/
    #edp3 #primary_menu {
        top: 72px !important;
    }
    #edp3 #primary_menu .menu--main > ul.menu {
        height: calc(100vh - 72px);
        padding-left: 15px;
    }

    /* HOME ********************/
    #edp3 #block-searchdatasets #category ul li {
        flex: 1 0 33%;
    }

    /* FOOTER ********************/
    #edp3 #footer_first #block-sitebranding .site-branding__text a {
        line-height: 1;
        width: 150px;
        padding-top: 13px;
        padding-left: 5px;
        display: inline-block;
    }

    /* TRAINING COMPANION  ********************/
    #edp3 #block-training-companion-list ul li {
        flex: 0 0 33%;
    }

    /* OTHER SEARCH FILTER ********************/
    #edp3 #block-search-form-left .form-item,
    #edp3 .search-results .view-filters .form-item {
        width: 33%;
    }
    #edp3 #block-search-form-left .form-actions input,
    #edp3 .search-results .view-filters .form-actions input {
        width: calc(33% - 10px);
    }

    /* SEARCH LIST ********************/
    #edp3 .search-results.site-search .view-content .views-row .views-field-title {
        overflow: hidden;
    }
    #edp3 .search-results.site-search .view-content .views-row .views-field-title a {
        display: block;
    }

    /* OTHER SEARCH LIST ********************/
    #edp3 ul.viewsearch-items li.viewsearch-item .viewsearch-header a {
        display: block;
    }
}

@media screen and (max-width: 680px) {

    /* HOME ********************/
    #edp3 #block-searchdatasets ul.nav-tabs {
        position: relative;
        right: auto;
        top: auto;
        margin: 0;
    }
    #edp3 #block-searchdatasets .data-links a {
        border: 1px solid #202272;
        padding: 4px 10px;
        border-radius: 4px;
        display: inline-block;
        margin: 0 5px 10px 0 !important;
    }

    /* LATEST REPORTS ********************/
    #edp3 #block-promoted-slideshow .views-row .views-field-title,
    #edp3 #block-promoted-carousel .views-row .views-field-title {
        padding-top: 0;
    }
    #edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail,
    #edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail {
        padding-bottom: 15px;
    }
    #edp3 #block-promoted-slideshow .views-row .views-field-field-subtitle,
    #edp3 #block-promoted-carousel .views-row .views-field-field-subtitle {
        width: auto;
        float: none;
    }
    #edp3 #block-promoted-slideshow .slick-controls,
    #edp3 #block-promoted-carousel .slick-controls {
        position: relative;
        right: auto;
        top: auto;
        display: inline-block;
        opacity: 1;
        padding-top: 15px;
    }
    #edp3 #block-promoted-slideshow .slick-controls button,
    #edp3 #block-promoted-carousel .slick-controls button {
        border: 1px solid #bbbcd4;
        height: 40px;
        min-width: 40px;
    }
    #edp3 #block-promoted-slideshow .slick-dots,
    #edp3 #block-promoted-carousel .slick-dots {
        right: auto;
        top: auto;
        bottom: 30px;
        left: 175px;
        width: auto;
        display: inline-block;
        height: 40px;
    }
    #edp3 #block-promoted-slideshow .slick-dots li button,
    #edp3 #block-promoted-carousel .slick-dots li button {
        width: 40px;
        height: 40px;
    }

    /* OVERVIEW ********************/
    #edp3 #block-impactstudiesoverview .field--name-body > ul > li {
        flex: 0 0 100%;
    }
    
    /* WEBINARS ********************/
    #edp3.country_insight #webinar-area ul li {
        flex: 0 0 calc(100% - 20px);
    }

    /* PROMO COVID ********************/
    #edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li,
    #edp3.covid-19--overview #content .field--name-body > ul:last-of-type > li,
    #edp3.covid-19--stories #content .view-content > .item-list > ul > li {
        flex: 0 0 100%;
    }

}

@media screen and (max-width: 530px) {
    /* HEADER ********************/
    /* #edp3 #header #block-edp3-branding .site-branding__text a {
        width: 150px;
        padding-top: 0;
    } */
    #edp3 #header .block-language form:not(.d-none) {
        display: none;
    }
    #edp3 #header .block-language form.d-none {
        display: block !important;
    }
    #edp3 #header .block-language form.d-none .form-control {
        text-transform: uppercase;
        width: 58px;
        padding: 3px;
    }

    /* DATA RELATED INIT ********************/
    #edp3 .search-results-with-imgfirst .viewsearch-item {
        position: relative;
    }
    #edp3 .search-results-with-imgfirst .views-field.views-field-field-thumbnail {
        position: relative;
        background: #cddbe8;
        width: 100%;
        min-height: 0;
    }
    #edp3 .search-results-with-imgfirst .image-style-search-images {
        position: relative;
        min-height: 0;
        min-width: 100%;
    }
    #edp3 .search-results-with-imgfirst .views-field-field-subtitle,
    #edp3 .search-results-with-imgfirst .viewsearch-footer {
        padding-left: 15px !important;
    }
    #edp3 .search-results-with-imgfirst  .views-field-nothing {
        padding-left: 0;
    }
    

}

@media screen and (max-width: 500px) { 

    /* LAYOUT ********************/
    #edp3 #top .block,
    #edp3 #content .container,
    #edp3 #block-featured-highlights,
    #edp3 #top #block-promoted-slideshow,
    #edp3 #top #block-promoted-carousel,
    #edp3 #block-block-upcoming-events,
    #edp3 #block-latest-news,
    #edp3.country_insight #open-data-news-in,
    #edp3.country_insight .country-insight #reports-in,
    #edp3 #block-twitter {
        padding: 15px;
    }

    /* HEADER ********************/
    #edp3 #header > .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    #edp3 #header #block-edp3-branding {
        padding-top: 10px;
    }

    /* NAV ********************/
    #edp3 #primary_menu .menu--main > ul.menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* HOME ********************/
    #edp3 #block-searchdatasets #category ul li {
        flex: 1 0 50%;
    }

    /* HOME ********************/
    #edp3 #block-searchdatasets #term .input-group .form-control {
        flex: 0 0 100%;
        border-radius: 4px;
        margin-bottom: 5px;
    }
    #edp3 #block-searchdatasets #term .input-group .input-group-append {
        width: 100%;
    }
    #edp3 #block-searchdatasets #term .input-group .btn {
        width: 100%;
        border-radius: 4px;
    }
    #edp3 #block-abouttheeuropeandataportal ul.stats {
        display: block;
    }
    #edp3 #block-abouttheeuropeandataportal ul.stats li {
        display: block;
        margin-bottom: 25px;
    }

    /* LATEST REPORTS ********************/
    #edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail,
    #edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail {
        float: none;
        padding-right: 0;
        width: 100%;
    }
    #edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail > div,
    #edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail > div {
        text-align: center;
    }
    #edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail img,
    #edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail img {
        max-width: 210px;
        display: inline-block;
    }
    #edp3 #block-promoted-slideshow .views-row .views-field-title,
    #edp3 #block-promoted-slideshow .views-row .views-field-field-publication-date,
    #edp3 #block-promoted-carousel .views-row .views-field-title,
    #edp3 #block-promoted-carousel .views-row .views-field-field-publication-date {
        float: none;
        width: auto;
    }
    #edp3 #block-promoted-slideshow .slick-dots,
    #edp3 #block-promoted-carousel .slick-dots {
        bottom: 15px;
    }

    /* FEATURED HIGHLIGHTS ********************/
    #edp3 #block-featured-highlights .view-content .views-row {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* LATEST NEWS ********************/
    #edp3 #block-latest-news .view-content .views-row {
        flex: 0 0 100%;
        max-width: calc(100% - 30px);
        margin-left: 15px;
    }

    /* OPEN DATA MATURITY ********************/ 
    #edp3 #content_middle #block-opendatamaturitydashboards ul,
    #edp3 #content_middle #block-opendatamaturitydashboards-2 ul {
        flex-wrap: wrap;
    }
    #edp3 #content_middle #block-opendatamaturitydashboards ul li,
    #edp3 #content_middle #block-opendatamaturitydashboards-2 ul li {
        flex: 0 0 33%;
        max-width: calc(33% - 20px);
        margin-bottom: 15px;
    }

    /* TRAINING COMPANION  ********************/
    #edp3 #block-training-companion-list ul li {
        flex: 0 0 50%;
    }

    /* SEARCH FILTER ********************/
    #edp3 .domain-wrap .domain > div.subtitle {
        display: block;
    }

    /* OTHER SEARCH FILTER ********************/
    #edp3 #block-search-form-left .form-item,
    #edp3 .search-results .view-filters .form-item {
        width: 50%;
    }
    #edp3 #block-search-form-left .form-actions input,
    #edp3 .search-results .view-filters .form-actions input {
        width: calc(50% - 10px);
    }

    /* OTHER SEARCH LIST ********************/
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-thumbnail {
        float: none;
    }
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-sector,
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-nature,
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-body {
        padding: 0 15px;
    }

    /* COUNTRY INSIGHTS ********************/
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-field-thumbnail img {
        margin-left: 15px;
    }
    #edp3 ul.viewsearch-items li.viewsearch-item .views-field-body p {
        padding-right: 0;
    }

}


@media screen and (max-width: 435px) {

    /* HEADER ********************/
    #edp3 #header #block-edp3-branding .site-branding__text a {
        font-size: 17px;
        width: 142px;
    }

}


@media screen and (max-width: 375px) { 

    /* HEADER ********************/
    #edp3 #header #block-edp3-branding .site-branding__text a {
        font-size: 15px;
        width: 100px;
    }

    /* LATEST REPORTS ********************/
    #edp3 #block-promoted-slideshow .slick-dots li button,    
    #edp3 #block-promoted-carousel .slick-dots li button {
        width: 20px;
    }

    /* TRAINING COMPANION  ********************/
    #edp3 #block-training-companion-list ul li {
        flex: 0 0 100%;
    }
    #edp3 #block-training-companion-list ul li a {
        min-height: 60px;
    }

    /* SEARCH FILTER ********************/
    #edp3 .domain-wrap,
    #edp3 .order-wrap,
    #edp3 .order-wrap .btn.order {
        width: 100%;
    }
    #edp3 .order-wrap .btn.order:after {
        float: right;
    }
    #edp3 .order-wrap .btn.order .order-text {
        display: inline-block;
        width: calc(100% - 20px);
    }

    /* OTHER SEARCH FILTER ********************/
    #edp3 #block-search-form-left .form-item,
    #edp3 .search-results .view-filters .form-item {
        width: 100%;
    }
    
}


@media screen and (max-width: 335px) { 

    /* HEADER ********************/
    #edp3 #header #block-edp3-branding {
        padding-left: 0;
        padding-right: 3px;
    }
    #edp3 #header #block-edp3-branding img {
        margin-right: 5px;
    }
    #edp3 #header #block-edp3-branding .site-branding__text a {
        width: 100px;
    }

    /* OPEN DATA MATURITY ********************/ 
    #edp3 #content_middle #block-opendatamaturitydashboards ul li,
    #edp3 #content_middle #block-opendatamaturitydashboards-2 ul li {
        flex: 0 0 50%;
        max-width: calc(50% - 20px);
    }

    /* SEARCH ********************/
    #edp3 .search-results.site-search .views-row .field-content.search-result-thumbnail img {
        float: none;
    }

}

@media screen and (max-width: 680px) {
    #edp3 #block-promoted-slideshow .view-footer,
    #edp3 #block-promoted-carousel .view-footer {
        height: 55px;
    }
}