/***********************************
	HEADER
***********************************/
#edp3 #header {
	background: #ffffff;
}
#edp3 #header .region-header {
	overflow: hidden;
}

/***********************************
	SITE BRANDING
***********************************/
#edp3 #header #block-edp3-branding {
	padding: 16px 10px 14px 10px;
	float: left;
}
#edp3 #header #block-edp3-branding a {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}
#edp3 #header #block-edp3-branding img {
	height: 45px;
	margin-right: 10px;
}
#edp3 #header #block-edp3-branding .site-branding__text {
	display: inline-block;
}
#edp3 #header #block-edp3-branding div a {
	line-height: 45px;
	font-size: 22px;
	color: #0F62AE;
	padding-left: 5px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 300;
}
#edp3 #header #block-edp3-branding div a strong {
	font-weight: bold;
}

/***********************************
	SEARCH
***********************************/
#edp3 #header #block-search {
    float: right;
    margin: 18px 0;
}
#edp3 #header #block-search input {
    border-radius: 4px 0 0 4px;
}
#edp3 #header #block-search select {
    border-radius: 0;
    background-color: #D5D6F7;
    color: #202272;
}
#edp3 #header #block-search select option {
    background-color: #ffffff;
}
#edp3 #header #block-search .btn {
    border-radius: 0 4px 4px 0;
    font-size: 0;
}
#edp3 #header #block-search .btn:before {
    content: "\f002";
    font-size: initial;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
#edp3 #header #block-search .btn.btn-primary {
	background-color: #202272;
	border-color: #202272;
}
#edp3 #header #block-search .btn.btn-primary:hover {
	background-color: #196fd2;
	border-color: #196fd2;
}

/***********************************
	LANGUAGE SWITCHER
***********************************/
#edp3 #header .block-language {
	float: right;
	margin: 18px 15px;
	padding: 0;
}
#edp3 #header .block-language select {
	max-width: 160px;
}
#edp3 #header .block-language .btn.btn-primary {
	width: 38px;
	background-color: #202272;
	border-color: #202272;
}
#edp3 #header .block-language .btn.btn-primary:hover {
	background-color: #196fd2;
	border-color: #196fd2;
}

/***********************************
	PRIMARY MENU
***********************************/
#edp3 #primary_menu {
	background-color: #202272;
	height: 48px;
	position: sticky;
	z-index: 99;
}
#edp3 #primary_menu.second-level-open {
	margin-bottom: 60px;
}
#edp3 #primary_menu ul.menu {
	display: flex;
	margin: 0;
	padding: 0;
}
#edp3 #primary_menu ul.menu li {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
}
#edp3 #primary_menu ul.menu li:first-of-type {
	flex: 0;
}
#edp3.frontpage #primary_menu nav > ul > li:first-of-type .is-active {
	background: #196FD2;
}
#edp3 #primary_menu .menu--main > ul.menu > li:first-of-type a {
	width: 46px !important;
	padding-right: 0;
	padding-left: 0;
	font-size: 0;
	line-height: 1.9;
}
#edp3 #primary_menu .menu--main > ul.menu > li:first-of-type a:before {
	content: "\f015";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 14px;
}
#edp3 #primary_menu ul.menu li a {
	color: #dff3ff;
	display: inline-block;
	cursor: pointer;
	padding: 11px 15px;
	width: auto;
	text-align: center;
	display: block;
	text-decoration: none;
}
#edp3 #primary_menu ul.menu li a:hover {
	color: #ffffff;
}
#edp3 #primary_menu  ul.menu > li.menu-item.menu-item--expanded > a:after,
#edp3 #primary_menu  ul.menu > li.menu-item.menu-item--expanded > span:after {
	content: "\f0d7";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-left: 10px;
}
#edp3 #primary_menu ul.menu li ul {
	display: none;
}
body:not(.toolbar-tray-open) #edp3 #primary_menu {
	top: 0;
}
body.toolbar-tray-open #edp3 #primary_menu {
	top: 39px;
}

/* RESPONSIVE NAV BUTTON ********************/
#edp3 .menu--btn {
	display: none;
	height: 40px;
	width: 40px;
	color: #fff;
	line-height: 2;
	font-size: 20px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #202272;
	margin: 18px 0 0 12px;
	background: #202272;
	float: right;
}
#edp3 .menu--btn:hover {
	background-color: #196fd2;
}

/***********************************
	SECOND LEVEL MENU
***********************************/
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul {
	display :block;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
	z-index: 9;
	background-color: #289dfa;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
  	padding: 5px 5px 0 5px;
	min-height: 40px;
	text-align: center;
	margin: 0;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail.open,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu {
	z-index: 99;
	background-color: #1986dc;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu {
	background-color: #196FD2;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail.open > ul.menu li,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu li {
	display: inline-block;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item a {
	display: inline-block;
	padding: 5px 15px;
  	margin-bottom: 5px;
	border: 1px solid #202272 !important;
	border-radius: 4px;
	color: #ffffff;
	background-color: #202272;
	text-align: center;
	text-decoration: none;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item a:hover,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item a.is-active,
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item.menu-item--active-trail a {
	border-color: #ffffff !important;
	color: #ffffff;
	background-color: transparent !important;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item:first-of-type > a {
	width: auto !important;
	font-size: initial;
	line-height: inherit;
}
#edp3 #primary_menu nav > ul.menu > li.menu-item--active-trail > ul.menu > li.menu-item:first-of-type > a:before {
	content: "";
}

/***********************************
	TOP FOOTER
***********************************/
#edp3 #footer_first {
  	background: #F3F3F3;
  	padding-top: 35px;
  	padding-bottom: 20px;
}
#edp3 #footer_first .region-footer-first-left,
#edp3 #footer_first .region-footer-first-middle,
#edp3 #footer_first .region-footer-first-right {
  	padding-bottom: 25px;
}
#edp3 #footer_first h2 {
		font-size: 24px;
		font-weight: normal;
}

/***********************************
	BOTTOM SITE BRANDING
***********************************/
#edp3 #footer_first #block-sitebranding {
    margin-bottom: 25px;
}
#edp3 #footer_first #block-sitebranding > a {
    float: left;
}
#edp3 #footer_first #block-sitebranding img {
    height: 60px;
    margin-right: 10px;
}
#edp3 #footer_first #block-sitebranding .site-branding__text a {
    line-height: 60px;
    font-size: 20px;
		color: #0F62AE;
    text-transform: uppercase;
		font-weight: 300;
}
#edp3 #footer_first #block-edp3-branding .site-branding__text a strong {
	font-weight: bold;
}

/***********************************
	FUNDED/MANAGED BY NOTICE
***********************************/
/* old */
#edp3 #footer_first #block-fundedby img {
    height: 40px;
    width: 60px;
    float: left;
    margin-right: 10px;
}
#edp3 #footer_first #block-fundedby p {
    margin: 0;
    line-height: 40px;
    font-size: 14px;
    color: #202272;
}

/* new */
#edp3 #footer_first #block-fundedby .ext-by p {
	margin: 0;
	font-size: 14px;
	line-height: 1;
	color: #202272;
	display: flex;
	align-items: center;
}
#edp3 #footer_first #block-fundedby .ext-by p:nth-child(2) {
	padding-left: 10px;
}
#edp3 #footer_first #block-fundedby .ext-by img {
	width: 60px;
	min-width: 60px;
	height: auto;
	margin: 0; /* to be removed after the content is updated */
	float: none; /* to be removed after the content is updated */
}
#edp3 #footer_first #block-fundedby .ext-by .funded-by,
#edp3 #footer_first #block-fundedby .ext-by .managed-by {
	display: flex;
	margin-bottom: 20px;
}
#edp3 #footer_first #block-fundedby .ext-by .managed-by p:nth-child(1) {
	height: 38px;
	align-items: start;
}



/***********************************
	NEWSLETTER
***********************************/
#edp3 .simplenews-subscriber-form label,
#edp3 .simplenews-subscriber-form .description {
    display: none;
}
#edp3 .simplenews-subscriber-form form {
    position: relative;
}
#edp3 .simplenews-subscriber-form .js-form-submit {
    background-image: none;
    background-color: #202272;
    text-shadow: none;
    color: #ffffff;
    font-weight: normal;
    border-radius: 0 4px 4px 0;
    height: calc(1.5em + .75rem + 2px);
    font-size: 16px;
		width: 150px;
		border: 0;
}
#edp3 .simplenews-subscriber-form #edit-subscribe {
    position: absolute;
    top: 0;
    right: 0;
}
#edp3 .simplenews-subscriber-form input[type=email] {
    box-shadow: none;
    background: white;
    height: calc(1.5em + .75rem + 2px);
    font-size: 16px;
    width: calc( 100% - 150px );
		border-right: none;
		border-radius: 4px 0 0 4px;
}

/***********************************
	HELP US IMPROVE
***********************************/
#edp3 #footer_first #block-helpusimprove {
    margin-top: 25px;
    margin-bottom: 15px;
}
#edp3 #footer_first #block-helpusimprove h2:before {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
}
#edp3 #footer_first #block-helpusimprove p {
    margin: 0 0 0 38px;
    line-height: 20px;
}
#edp3 #footer_first #block-helpusimprove p a {
    color: #202272;
    font-size: 14px;
}

/***********************************
	FOLLOW US
***********************************/
#edp3 #footer_first #block-followuson ul {
    margin: 25px 0 0 0;
    padding: 0;
}
#edp3 #footer_first #block-followuson ul li {
    list-style-type: none;
    overflow: hidden;
}
#edp3 #footer_first #block-followuson ul li a {
  color: #202272;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}

#edp3 #footer_first #block-followuson ul li a:hover {
  color: #196fd2;
  text-decoration: none;
}
#edp3 #footer_first #block-followuson ul li a:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    margin-right: 10px;
    font-size: 30px;
    position: relative;
    top: 5px;
}
#edp3 #footer_first #block-followuson a[href*="facebook"]:before {
	content: "\f082";
}
#edp3 #footer_first #block-followuson a[href*="twitter"]:before {
	content: "\f081";
}
#edp3 #footer_first #block-followuson a[href*="linkedin"]:before {
	content: "\f08c";
}
#edp3 #footer_first #block-followuson a[href*="youtube"]:before {
	content: "\f431";
}

/***********************************
	BOTTOM FOOTER
***********************************/
#edp3 #footer_second {
    background-color: #202272;
    color: #ffffff;
    font-size: 14px;
    padding: 15px 0;
}
#edp3 #footer_second a {
    color: #ffffff;
}
#edp3 #footer_second ul.menu {
  margin: 0;
}
#edp3 #footer_second ul.menu li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
#edp3 #footer_second ul.menu li:after {
    content: "|";
}
#edp3 #footer_second ul.menu li:last-of-type:after {
    content: "";
}