#edp3 #promo {
    margin-top: 15px;
}
#edp3 #banner {
	padding-top: 15px;
}
#edp3 #promo .region .block {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0px 2px 6px #0000000A;
    margin-bottom: 15px;
}
#edp3 #promo .region .block:last-of-type {
	margin-bottom: 0;
}
#edp3 #promo .data-links a:after {
    content: "\f152";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    position: relative;
    top: 1px;
    margin-left: 5px;
}
#edp3 #promo .data-links a {
    color: #202272;
    display: inline-block;
}
#edp3 #promo ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3 #promo ul li {
    list-style-type: none;
    flex: 1 0 20%;
    margin-bottom: 20px;
    padding: 0 10px;
}
#edp3 #promo ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #202272;
    line-height: 1.2;
}
#edp3 #promo ul li a img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 36px;
}

#edp3.covid-19--overview #content .field--name-body > ul:first-of-type,
#edp3.covid-19--stories #content .view-content > .item-list,
#edp3.impact-studies--covid-19 #content .view-content > .item-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li {
    list-style-type: none;
    flex: 0 0 33%;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li {
    flex: 0 0 32%;
    list-style-type: none;
    margin-left: 1em;
    margin-bottom: 50px;
}

#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > a:first-of-type,
#edp3.covid-19--stories #content .view-content > .item-list > ul > li .views-field-title a,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li .views-field-title a {
    color: #202272;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    min-height: 50px;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > ul {
    margin: 0;
    padding: 0;
    padding: 0 15px;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li  ul,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li  ul {
    margin: 0;
    padding: 0;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > ul > li,
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li {
    list-style-type: none;
    border: 1px solid #D9D9DC;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li {
    margin: 0;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > ul > li:first-of-type,
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:first-of-type,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:first-of-type {
    border-bottom: none;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:first-of-type,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:first-of-type {
    margin-bottom: 0;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > ul > li:first-of-type img,
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li img,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li img {
    width: 100%;
}
#edp3.covid-19--overview #content .field--name-body > ul:first-of-type > li > ul > li:last-of-type,
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:last-of-type,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:last-of-type {
    padding: 15px;
    font-size: 14px;
    background-color: #F1F9FD;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:last-of-type,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:last-of-type {
    font-size: initial;
    min-height: 240px;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:last-of-type time,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:last-of-type time {
    clear: both;
    display: block;
    font-size: 14px;
    margin-top: 15px;
}
#edp3.covid-19--stories #content .view-content > .item-list > ul > li ul > li:last-of-type time:before,
#edp3.impact-studies--covid-19 #content .view-content > .item-list > ul > li ul > li:last-of-type time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}


#edp3.covid-19--overview #content .field--name-body > ul:last-of-type {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3.covid-19--overview #content .field--name-body > ul:last-of-type > li {
    word-break: break-word;
    list-style-type: none;
    flex: 0 0 50%;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 20px;
}
#edp3.covid-19--overview #content .field--name-body > ul:last-of-type > li > article {
    float: left;
    margin-right: 15px;
}
#edp3.covid-19--overview #content .field--name-body > ul:last-of-type > li > ul > li {
    list-style-type: none;
}
#edp3.covid-19--overview #content .field--name-body > ul:last-of-type > li strong {
    color: #202272;
    font-size: 16px;
}


#edp3:not(.search) .search-results.search-results-with-blockquote .view-header {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    position: relative;
    overflow: hidden;
}
#edp3 .search-results.search-results-with-blockquote .view-header {
    color: initial;
    background-color: transparent;;
    border: none;
    padding: initial;
    margin-bottom: 0;
    border-radius: 4px;
}
#edp3 .search-results.search-results-with-blockquote .view-header .view-header-results {
    color: #042648;
    background-color: #cddbe8;
    border-color: #baccdf;
    padding: .75rem 1.25rem;
    margin-bottom: 15px;
    border-radius: 4px;
}
#edp3:not(.search) .search-results.search-results-with-blockquote .view-header-results {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: calc(25% - 15px);
    position: relative;
    overflow: hidden;
}
#edp3 ul.viewsearch-items li.viewsearch-item.viewsearch-item-noimg .views-field-body {
    padding-left: 15px;
    padding-right: 15px;
}
#edp3:not(.search) .search-results .viewsearch-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ececec;
    padding: 10px 15px;
    font-size: 14px;
    overflow: hidden;
}
#edp3:not(.search) .search-results .viewsearch-footer a {
    color: #202272;
}

#edp3.covid-19--datasets .search-results .viewsearch-header a {
    font-size: 18px;
    font-weight: bold;
}

#edp3.covid_19_dataset .field--name-field-publication-date time,
#edp3.covid_19_dataset .field--name-field-country,
#edp3.covid_19_data_stories .field--name-field-publication-date time,
#edp3.covid_19_data_stories .field--name-field-country,
#edp3.covid_19_initiative .field--name-field-publication-date time,
#edp3.covid_19_initiative .field--name-field-country {
    font-size: 14px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
#edp3.covid_19_dataset .field--name-field-publication-date time:before,
#edp3.covid_19_data_stories .field--name-field-publication-date time:before,
#edp3.covid_19_initiative .field--name-field-publication-date time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.covid_19_dataset .field--name-field-country .field__item,
#edp3.covid_19_data_stories .field--name-field-country .field__item,
#edp3.covid_19_initiative .field--name-field-country .field__item {
    display: inline-block;
    margin-right: 10px;
}
#edp3.covid_19_dataset .field--name-field-country .field__item:before,
#edp3.covid_19_data_stories .field--name-field-country .field__item:before,
#edp3.covid_19_initiative .field--name-field-country .field__item:before {
    content: "\f024";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.covid_19_dataset .field--name-body,
#edp3.covid_19_data_stories .field--name-body,
#edp3.covid_19_initiative .field--name-body {
    clear: both;
}
#edp3.covid_19_data_stories .field--name-field-thumbnail img,
#edp3.covid_19_initiative .field--name-field-thumbnail img {
    width: 100%;
}

#edp3 #block-covid-19-data-story {
    overflow:hidden;
}
#edp3 #block-covid-19-data-story .views-field-field-thumbnail {
    text-align: center;
}
#edp3 #block-covid-19-data-story .views-field-field-thumbnail img {
    margin-bottom: 15px;
    width: 280px;
}
#edp3 #block-covid-19-data-story .views-field-title {
    margin-bottom: 5px;
}
#edp3 #block-covid-19-data-story .views-field-title a {
    color: #202272;
}
#edp3 #block-covid-19-data-story time {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}
#edp3 #block-covid-19-data-story time:before {   content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}

#edp3 .search-results .vertical-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DATA RELATED INIT ********************/
#edp3 .search-results-with-imgfirst .viewsearch-item {
    position: relative;
}
#edp3 .search-results-with-imgfirst .views-field.views-field-field-thumbnail {
    position: absolute;
    min-height: 150px;
    background: #cddbe8;
    width: 200px;
    bottom: 0;
    top: 0;
}
#edp3 .search-results-with-imgfirst .image-style-search-images {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
    min-height: 150px;
    min-width: 100%;
}
#edp3 .search-results-with-imgfirst .views-field-field-subtitle,
#edp3 .search-results-with-imgfirst .viewsearch-footer {
    padding-left: calc(200px + 15px) !important;
    padding-right: 15px !important;
}
#edp3 .search-results-with-imgfirst  .views-field-nothing {
    padding-left: 200px;
}
#edp3 .viewsearch-footer-flag {
    width: 40px;
    height: 23px;
    position: relative;
    top: -2px;
}


div.conterra-map {
    height: 500px;
    width: 100%;
}