/***********************************
	ON PUBLIC PAGE
***********************************/
#edp3 #content_middle #block-opendatamaturitydashboards ul,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul {
	margin: 0;
	padding: 0;
	display: flex;
}
#edp3 #content_middle #block-opendatamaturitydashboards ul {
	margin-top: 30px;
}
#edp3 #content_middle #block-opendatamaturitydashboards ul li,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li {
	list-style-type: none;
	flex-grow: 1;
	margin: 0 10px;
}
#edp3 #content_middle #block-opendatamaturitydashboards ul li:last-of-type,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li:last-of-type {
	margin-right: 0;
}
#edp3 #content_middle #block-opendatamaturitydashboards ul li a,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li a {
	border: 1px solid #202272;
	width: 100%;
	display: block;
	padding: 10px 5px;
	border-top-width: 5px;
	border-radius: 4px;
	color: #202272;
	text-align: center;
}
#edp3 #content_middle #block-opendatamaturitydashboards-2 > div {
    float: right;
}
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li {
    min-width: 100px;
}
#edp3 #content_middle #block-opendatamaturitydashboards ul li a:hover,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li a:hover,
#edp3 #content_middle #block-opendatamaturitydashboards-2 ul li a.is-active {
    background-color: #202272;
		color: white;
		text-decoration: none;
}

/***********************************
	OPEN DATA DASHBOARD
***********************************/
#edp3 .open-data-dashboard {
	padding-top: 15px;
}
#edp3 .open-data-dashboard .toc-title {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 5px;
    max-width: 100%;
}
#edp3 .open-data-dashboard ul.toc {
	margin: 0 0 15px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
#edp3 .open-data-dashboard ul.toc li {
	list-style-type: none;
	display: inline-block;
	flex: 1 0 20%;
	margin-right: 10px;
	margin-bottom: 10px;
}
#edp3 .open-data-dashboard ul.toc li a {
	background-color: #0065a2;
	color: #ffffff !important;
	padding: 5px 10px;
	display: block;
	border-radius: 4px;
}
#edp3 .open-data-dashboard .dashboard-overview {
	border: 1px solid #ced4da;
	border-radius: 4px;
	margin-left: 10px;
	margin-right: 20px;
}
#edp3 .open-data-dashboard .dashboard-overview > .col:first-of-type {
	padding: 15px;
}
#edp3 .open-data-dashboard .dashboard-overview > .col:last-of-type {
	background-color: #ced4da;
}

#edp3 .open-data-dashboard strong {
	display: block;
	font-size: 20px !important;
	font-weight: normal;
}
#edp3 .open-data-dashboard .progress {
	border: 1px solid #000000;
	border-radius: 0;
	background-color: #ffffff;
	height: 20px;
}
#edp3 .open-data-dashboard .progress .progress-bar {
	text-align: left;
	overflow: visible;
	font-weight: bold;
	padding-left: 5px;
}
#edp3 .open-data-dashboard .progress .progress-bar span {
	text-shadow: 0px 0px 1px black;
}
#edp3 .open-data-dashboard .overview-totals .pie-wrapper {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

#edp3 .open-data-dashboard h3 {
    color: red;
    margin-top: 15px;
    font-size: 18px;
}
#edp3 .open-data-dashboard .dashboard-policy h3 {
    margin-top: 0;
}

#edp3 .open-data-dashboard .dashboard-policy h3,
#edp3 .open-data-dashboard .dashboard-policy strong {								color:					#039ece; }
#edp3 .open-data-dashboard .dashboard-policy .progress {							border-color:			#039ece; }
#edp3 .open-data-dashboard .dashboard-policy .progress .progress-bar {		background-color:	#039ece; }
#edp3 .open-data-dashboard .dashboard-portals h3,
#edp3 .open-data-dashboard .dashboard-portals strong {								color:					#202272; }
#edp3 .open-data-dashboard .dashboard-portals .progress {							border-color:			#202272; }
#edp3 .open-data-dashboard .dashboard-portals .progress .progress-bar {		background-color:	#202272; }
#edp3 .open-data-dashboard .dashboard-impact h3,
#edp3 .open-data-dashboard .dashboard-impact strong {								color:					#FE5D20; }
#edp3 .open-data-dashboard .dashboard-impact .progress {							border-color:			#FE5D20; }
#edp3 .open-data-dashboard .dashboard-impact .progress .progress-bar {		background-color:	#FE5D20; }
#edp3 .open-data-dashboard .dashboard-quality h3,
#edp3 .open-data-dashboard .dashboard-quality strong {								color:					#FE9900; }
#edp3 .open-data-dashboard .dashboard-quality .progress {							border-color:			#FE9900; }
#edp3 .open-data-dashboard .dashboard-quality .progress .progress-bar {		background-color:	#FE9900; }
/* 2017 and earlier */
#edp3 .open-data-dashboard .dashboard-ready h3,
#edp3 .open-data-dashboard .dashboard-ready strong {								color:					#0065a2; }
#edp3 .open-data-dashboard .dashboard-ready .progress {							border-color:			#0065a2; }
#edp3 .open-data-dashboard .dashboard-ready .progress .progress-bar {		background-color:	#0065a2; }
#edp3 .open-data-dashboard .dashboard-maturity h3,
#edp3 .open-data-dashboard .dashboard-maturity strong {								color:					#FE9900; }
#edp3 .open-data-dashboard .dashboard-maturity .progress {							border-color:			#FE9900; }
#edp3 .open-data-dashboard .dashboard-maturity .progress .progress-bar {		background-color:	#FE9900; }
#edp3 .open-data-dashboard .dashboard-impact-old h3,
#edp3 .open-data-dashboard .dashboard-impact-old strong {								color:					#8f0100; }
#edp3 .open-data-dashboard .dashboard-impact-old .progress {							border-color:			#8f0100; }
#edp3 .open-data-dashboard .dashboard-impact-old .progress .progress-bar {		background-color:	#8f0100; }


#edp3 .open-data-dashboard .overview-totals {
	padding: 15px;
}
#edp3 .open-data-dashboard .overview-totals > div {
	padding-top: 43px;
}
#edp3 .open-data-dashboard .overview-totals > div:first-of-type {
	padding-top: 0;
}
#edp3 .open-data-dashboard .overview-totals em {
	font-style: normal;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}
#edp3 .dashboard-table .dataTables_wrapper {
	overflow-x: auto;
	min-height: .01%;
}
#edp3 .dashboard-table table {
	max-width: 100%;
	position: relative;
	border-bottom: none;
}
#edp3 .dashboard-table table thead {
	position: sticky;
	top: 200px;
}
#edp3 .dashboard-table table thead tr {
	border: 1px solid #202272;
}
#edp3 .dashboard-table table thead tr th {
	background-color: #202272;
	border-color: #42449c;
	color: #ffffff;
	font-size: 14px;
	text-transform: initial;
	padding: 5px;
	vertical-align: top;
	border-right: 1px solid #42449c;
	border-bottom: none;
	padding-right: 20px;
}
#edp3 .dashboard-table table thead tr {
	border-bottom: 1px solid #42449c;
}
#edp3 .dashboard-table table thead tr th:last-of-type {
	border-right: none;
}
#edp3 .dashboard-table table tbody tr {
	border: 0;
}
#edp3 .dashboard-table table tbody tr:nth-of-type(odd) {
	background-color: #F2F2F2;
}
#edp3 .dashboard-table table tbody tr td {
	border: 0;
	border-collapse: inherit;
}
#edp3 .open-data-dashboard table .progress {
	background-color: #bbbbbb;
	border: 0;
}
#edp3 .open-data-dashboard #landscaping-map {
    background-color: #DBF2FF;
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ced4da;
}
#edp3 .open-data-dashboard #landscaping-map .datamaps-legend {
    max-width: 101%;
    z-index: 0;
    width: 1000px;
    position: relative;
    top: -1px;
    background: white;
    padding: 10px;
    border: 1px solid #cbccd0;
    left: -1px;
    height: 40px;
    display: block;
}
#edp3 .open-data-dashboard #landscaping-map .datamaps-legend dl {
    float: right;
}
#edp3 .open-data-dashboard .datamaps-hoverover * {
    font-size: 14px !important;
}
#edp3 .open-data-dashboard .datamaps-hoverover strong {
    display: inline-block;
    font-weight: bold;
}
#edp3 .open-data-dashboard .datamaps-hoverover .beginner strong {
    color: #fe9900;
}
#edp3 .open-data-dashboard .datamaps-hoverover .follower strong {
    color: #039ece;
}
#edp3 .open-data-dashboard .datamaps-hoverover .fast-tracker strong {
    color: #22377a;
}
#edp3 .open-data-dashboard .datamaps-hoverover .trend-setter strong {
    color: #fe5d20;
}