#edp3 #banner,
#edp3 #top {
    padding-bottom: 30px;
    margin-bottom: 15px;
}

/***********************************
	BANNER CONTENT
***********************************/
#edp3 #banner {
    background: transparent linear-gradient(104deg, #014FAD 0%, #00227B 100%) 0% 0% no-repeat;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

/***********************************
    SEARCH DATASETS
***********************************/
#edp3 #block-searchdatasets {
    background-image: url(/themes/edp3/assets/images/edp-map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}
#edp3 #block-searchdatasets a:not(.btn-primary) {
    color: #202272;
}
#edp3 #block-searchdatasets .map-wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    min-height: 450px; 
    padding: 15px;
}
#edp3 #block-searchdatasets ul.nav-tabs {
    position: absolute;
    right: 15px;
    top: 11px;
    border: none;
}
#edp3 #block-searchdatasets ul.nav-tabs li a {
    background-color: #ffffff;
    border-radius: 0;
    border: 0;
    margin-right: 15px;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 4px;
}
#edp3 #block-searchdatasets ul.nav-tabs li a.active {
    background-color: #202272;
    color: #ffffff;
}
#edp3 #block-searchdatasets div.tab-content {
    margin-top: 15px;
    font-size: 14px;
    min-height: 346px;
}
#edp3 #block-searchdatasets div.tab-content strong {
    color: #202272;
}
#edp3 #block-searchdatasets div.tab-content p {
    margin-bottom: 10px;
}
#edp3 #block-searchdatasets #category ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3 #block-searchdatasets #category ul li {
    list-style-type: none;
    flex: 1 0 20%;
    margin-bottom: 20px;
    padding: 0 10px;
}
#edp3 #block-searchdatasets #category ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #202272;
    line-height: 1.2;
}
#edp3 #block-searchdatasets #category ul li a img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 36px;
}
#edp3 #block-searchdatasets .data-links a:after {
    content: "\f152";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    position: relative;
    top: 1px;
    margin-left: 5px;
}

#edp3 #block-searchdatasets #term,
#edp3 #block-searchdatasets #category {
    padding-top: 20px;
}
#edp3 #block-searchdatasets form {
    padding-bottom: 20px;
}

/***********************************
    ABOUT EDP
***********************************/
#edp3 #block-abouttheeuropeandataportal .field--name-body {
    text-align: right;
    color: #ffffff;
    margin: 40px 0;
}
#edp3 #block-abouttheeuropeandataportal h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}
#edp3 #block-abouttheeuropeandataportal p {
    font-size: 18px;
    width: 90%;
    float: right;
}
#edp3 #block-abouttheeuropeandataportal ul.stats {
    margin: 0;
    padding: 0;
    display: flex;
}
#edp3 #block-abouttheeuropeandataportal ul.stats li {
    color: #ffffff;
    list-style-type: none;
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
}
#edp3 #block-abouttheeuropeandataportal ul.stats li .number {
    color: #202272;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#edp3 #block-abouttheeuropeandataportal ul.stats li .number span {
    width: 28px;
    margin-right: 2px;
    padding: 10px 0;
    background-image: url(/themes/edp3/assets/images/number-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    font-size: 38px;
    font-weight: bold;
    line-height: .6;
    text-align: center;
}
#edp3 #block-abouttheeuropeandataportal ul.stats li .label {
    display: block;
    font-size: 20px;
}

/***********************************
	TOP CONTENT
***********************************/
#edp3:not(.search) #top {
    border-bottom: 5px solid #202272;
}

#edp3 #top .block {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0px 2px 6px #0000000A;
}

/***********************************
    LATEST REPORTS
***********************************/
body.toolbar-tray-open #edp3 #block-promoted-slideshow .contextual-region,
body.toolbar-tray-open #edp3 #block-promoted-carousel .contextual-region {
    position: initial;
}
#edp3 #top #block-promoted-slideshow,
#edp3 #top #block-promoted-carousel {
  padding: 30px;
  overflow: hidden;
  position: relative;
}
#edp3 #top #block-promoted-slideshow h2,
#edp3 #top #block-promoted-carousel h2 {
  padding-bottom: 15px;
}
#edp3 #block-promoted-slideshow .views-row,
#edp3 #block-promoted-carousel .views-row {
  padding-bottom: -1px;
}
#edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail,
#edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail {
  float: left;
  width: 40%;
  padding-right: 30px;
}
#edp3 #block-promoted-slideshow .views-row .views-field-field-thumbnail img,
#edp3 #block-promoted-carousel .views-row .views-field-field-thumbnail img {
    outline: 1px solid #eef5f9;
    outline-offset: -1px;
}
#edp3 #block-promoted-slideshow .views-row .views-field-title,
#edp3 #block-promoted-carousel .views-row .views-field-title {
  padding: 15px 0 7px 0;
  width: 60%;
  float: left;
}
#edp3 #block-promoted-slideshow .views-row .views-field-title a,
#edp3 #block-promoted-carousel .views-row .views-field-title span {
  color: #202272;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
}
#edp3 #block-promoted-slideshow .views-row .views-field-field-publication-date,
#edp3 #block-promoted-carousel .views-row .views-field-field-publication-date {
  color: #4D4F5C;
  font-weight: 300;
  width: 60%;
  float: left;
  padding: 0 0 7px 0;
}
#edp3 #block-promoted-slideshow .views-row .views-field-field-subtitle,
#edp3 #block-promoted-carousel .views-row .views-field-field-subtitle {
  padding: 0;
  width: 60%;
  float: left;
}
#edp3 #block-promoted-slideshow .slick-dotted.slick-slider,
#edp3 #block-promoted-carousel .slick-dotted.slick-slider {
  margin-bottom: 0;
  position: static;
}
#edp3 #block-promoted-slideshow .slick-dots,
#edp3 #block-promoted-carousel .slick-dots {
    position: absolute;
    right: 170px;
    top: 27px;
    width: auto;
    height: 30px;
}
#edp3 #block-promoted-slideshow .slick-dots li,
#edp3 #block-promoted-carousel .slick-dots li {
  width: auto;
  height: auto;
  margin: 0;
}
#edp3 #block-promoted-slideshow .slick-dots li:hover,
#edp3 #block-promoted-carousel .slick-dots li:hover {
    background: rgba(213, 213, 246, 0.9);
    border-radius: 4px;
}
#edp3 #block-promoted-slideshow .slick-dots li button,
#edp3 #block-promoted-carousel .slick-dots li button {
  width: 30px;
  height: 30px;
}
#edp3 #block-promoted-slideshow .slick-dots li button:before,
#edp3 #block-promoted-carousel .slick-dots li button:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f111";
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#edp3 #block-promoted-slideshow .slick-controls,
#edp3 #block-promoted-carousel .slick-controls {
    position: absolute;
    right: 30px;
    top: 25px;
    width: auto;
    text-align: center;
    z-index: 10;
    transition: all 0.25s;
    opacity: 0.75;
}
#edp3 #block-promoted-slideshow .slick-controls button,
#edp3 #block-promoted-carousel .slick-controls button {
    border: 0;
    height: 36px;
    min-width: 36px;
    padding: 0 15px;
    background: transparent;
    color: #202272;
    border-radius: 4px;
}
#edp3 #block-promoted-slideshow .slick-controls button:hover,
#edp3 #block-promoted-carousel .slick-controls button:hover {
  background: #202272;
  color: #d4d6f7;
}
#edp3 #block-promoted-slideshow .slick-controls button span,
#edp3 #block-promoted-carousel .slick-controls button span {
  font-size: 13px;
}
#edp3 #top #block-promoted-slideshow:hover .slick-controls,
#edp3 #top #block-promoted-carousel:hover .slick-controls {
  opacity: 1;
}
#edp3 #block-promoted-slideshow .slick-controls .slick-c-play,
#edp3 #block-promoted-carousel .slick-controls .slick-c-play {
  display: none;
}

/***********************************
    MAIN CONTENT
***********************************/
#edp3.frontpage #content {
    margin-top: -15px;
    padding-top: 15px;
    background: #ffffff;;
}

/***********************************
    FEATURED HIGHLIGHTS
***********************************/
#edp3 #block-featured-highlights {
    background-color: #f3fafe;
    padding: 30px;
}
#edp3 #block-featured-highlights .view-content {
    display: flex;
    flex-wrap: wrap;
}
#edp3 #block-featured-highlights .view-content .views-row {
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #00ADEF;
}
#edp3 #block-featured-highlights .view-content .views-row:nth-child(2n+1) {
    margin-right: 15px;
}
#edp3 #block-featured-highlights .view-content .views-row:nth-child(2n+2) {
    margin-left: 15px;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-field-thumbnail img {
    width: 100%;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-title {
    margin-top: 10px;
    margin-bottom: 5px;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-title a {
    color: #202272;
    font-size: 18px;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-field-publication-date-time {
    font-size: 14px;
    margin-bottom: 15px;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-field-publication-date-time time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3 #block-featured-highlights .view-content .views-row .views-field-view-node {
    padding-bottom: 15px;
}
#edp3 #block-featured-highlights .view-footer {
    text-align: center;
    padding: 30px 0 15px 0;
}

/***********************************
    UPCOMING EVENTS
***********************************/
#edp3 #block-block-upcoming-events {
    background-color: #f3fafe;
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
}
#edp3 #block-block-upcoming-events h2 {
    padding-bottom: 15px;
}
#edp3 .view-upcoming-events ul {
    margin: 0;
    padding: 0;
}
#edp3 .view-upcoming-events ul li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
}
#edp3 .view-upcoming-events ul li:nth-of-type(odd) a {
    background-color: #ffffff;
}
#edp3 .view-upcoming-events ul li:nth-of-type(even) a {
    background-color: rgba(255, 255, 255, 0.5);
}
#edp3 .view-upcoming-events ul li:hover a * {
    color: #196fd2 !important;
}
#edp3 .view-upcoming-events ul li a {
    display: block;
    color: #202272 !important;
    text-decoration: none;
    padding: 10px;
}
#edp3 .view-upcoming-events ul li a:after {
    display: none
}
#edp3 .view-upcoming-events ul li a div.date {
    font-size: 14px;
}
#edp3 .view-upcoming-events ul li a div.location {
    font-size: 14px;
    color: #666666;
}
#edp3 .view-upcoming-events ul li a div.location:before {
    content: "\f3c5";
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
#edp3 #block-block-upcoming-events .view-footer {
    text-align: right;
}

/***********************************
    TWITTER FEED
***********************************/
#edp3 #block-twitter {
    background-color: #f3fafe;
    padding: 30px;
}
#edp3 #block-twitter .smk {
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 15px;
}
#edp3 #block-twitter .smk a[target="_blank"]:after {
    content: ""
}
#edp3 #block-twitter .smk .smk-tweets {
    padding: 15px;
    border: 0;
    border-radius: 4px;
}
#edp3 #block-twitter .smk .wt-smk-user-pic {
    border-radius: 50%;
}
#edp3 #block-twitter .smk .smk-user a {
    color: #202272;
}
#edp3 #block-twitter .smk .smk-text {
    font-size: 14px;
}

/***********************************
    LATEST NEWS
***********************************/
#edp3 #block-latest-news {
    background-color: #ffffff;
    padding: 30px;
}
#edp3 #block-latest-news h2 {
    padding-bottom: 15px;
}
#edp3 #block-latest-news .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#edp3 #block-latest-news .view-content .views-row {
    list-style-type: none;
    padding: 0;
    background-color: #f3fafe;
    position: relative;
    margin-bottom: 15px;
    flex: 0 0 25%;
    max-width: calc(25% - 15px);
    margin-right: 15px;
}
#edp3 #block-latest-news .view-content .views-row img {
    width: 100%;
    outline: 1px solid #f3fafe;
    outline-offset: -1px;
}
#edp3 #block-latest-news .view-content .views-row .views-field-title {
    padding: 15px;
    min-height: 85px;
}
#edp3 #block-latest-news .view-content .views-row .views-field-title a {
    color: #202272;
    font-size: 18px;
}
#edp3 #block-latest-news .view-content .views-row .views-field-field-subtitle {
    padding: 0 15px 15px 15px;
    margin-bottom: 20px;
}
#edp3 #block-latest-news .view-content .views-row .views-field-field-publication-date-time {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
}
#edp3 #block-latest-news .view-content .views-row .views-field-field-publication-date-time time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3 #block-latest-news .view-footer {
    text-align: right;
}

/***********************************
	BOTTOM CONTENT
***********************************/
#edp3 #bottom {
    border-top: 5px solid #202272;
    padding-top: 30px;
    margin-bottom: 30px;
}


/***********************************
  IE11 FIX
***********************************/

@media all and (-ms-high-contrast:none) { 

    #edp3 img {
        width: 100%;
    }

    #edp3 #header #block-edp3-branding img {
        width: auto;
    }

    #edp3 #header .block-language select {
        min-width: 160px;
    }

    #edp3 #header #block-search select {
        min-width: 140px;
    }

    #edp3 #header #block-search .btn:before {
        font-size: 14px;
    }

    #edp3 #block-promoted-slideshow .slick-dots {
        top: -55px;
    }

    #edp3 .table {
        width: 100%;
    }

    #edp3 .table td,
    #edp3 .table th {
        display: flex;
        flex-wrap: wrap;
    }

}

/* WE ARE MOVING BLOCK */
#block-moving {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
}
#block-moving p {
    font-size: 1.2em;
    color: #202272;
    line-height: 1.2;
    padding: 15px;
    padding-bottom: 0;
}
@media screen and (max-width: 991px) {
    #edp3 #header {
        height: auto !important;
    }
    #edp3 #header .region-header {
        overflow: visible;
    }
    #edp3 #header .region-header:after {
        content: "";
        display: block;
        clear: both;
    }
}