/***********************************
	COUNTRY INSIGHTS
***********************************/
#edp3.country_insight .country-insight .row:not(.introduction) {
	border-top: 5px solid #202272;
	margin-top: 15px;
	padding-top: 15px;
}
#edp3.country_insight .country-insight .row.introduction .media--type-image {
    border: 1px solid #707070
}
#edp3.country_insight {
    position: relative;
}
#edp3.country_insight .anchor-nav-top {
    position: absolute;
    top: 0;
    right: 15px;
}
#edp3.country_insight h1.page-title {
    padding:0 15px;
}
#edp3 .country-insight .introduction .btn.no-intro-text {
    margin: 35px 0;
}
#edp3.country_insight .country-insight #reports-in {
    background-color: #f3fafe;
    padding: 30px;
}
#edp3.country_insight .country-insight #reports-in ul {
    margin: 0;
    padding: 0;
}
#edp3.country_insight .country-insight #reports-in ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #e4e4e4;
    border-left: 5px solid #202272;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 4px;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field-title {    
    background-color: #f7f7f7;
    border-bottom: 1px solid #e4e4e4;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field-title a {
    color: #202272;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field {
    padding: 0 10px;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field:first-of-type {
    padding: 10px;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field:nth-of-type(2) {
    padding-top: 10px !important;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field:last-of-type {
    padding-top: 0;
    padding-bottom: 10px;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field:not(.views-field-title) .views-label {
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    width: 120px;
}
#edp3.country_insight .country-insight #reports-in ul li .views-field:not(.views-field-title) .field-content {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}
#edp3.country_insight .country-insight #reports-in .view-footer {
    text-align: right;
}

/***********************************
    COUNTRY INSIGHT BLOGS
***********************************/
#edp3.country_insight_blogs .field--name-field-country-insight a:before {
    content: "\f100";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 5px;
}
#edp3.country_insight_blogs .field--name-field-country-insight a {
    border: 1px solid #196fd2;
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
}
#edp3.country_insight_blogs .field--name-field-country-insight a:hover {
    background-color: #196fd2;
    color: #ffffff;
}
#edp3.country_insight_blogs .field--name-field-publication-date time {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
#edp3.country_insight_blogs .field--name-field-publication-date time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.country_insight .view-country-insight-blogs .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#edp3.country_insight .view-country-insight-blogs .view-content .views-row .views-field-field-thumbnail img {
    width: 100px;
    float: left;
    height: 75px;
    border-radius: 4px 0 0 4px;
    margin-right: 10px;
}
#edp3.country_insight .view-country-insight-blogs .view-content .views-row .views-field-title a {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    width: 100%;
    display: block;
    height: 75px;
    background-color: #F7F7F7;
    padding: 5px;
    color: #202272;
    line-height: 1;
}
#edp3.country_insight .view-country-insight-blogs .view-content .views-row .views-field-field-publication-date time {
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50px;
}
#edp3.country_insight .view-country-insight-blogs .view-content .views-row .views-field-field-publication-date time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}

/***********************************
    OPEN DATA NEWS IN ...
***********************************/
#edp3.country_insight #open-data-news-in {
    margin-top: 15px;
    padding: 30px;
    background-color: #f3fafe;
    border-radius: 4px;
}
#edp3.country_insight #open-data-news-in ul {
    margin: 0;
    padding: 0;
}
#edp3.country_insight #open-data-news-in ul li {
    margin: 0;
    list-style-type: none;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
#edp3.country_insight #open-data-news-in ul li img {
    float: left;
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}
#edp3.country_insight #open-data-news-in ul li .views-field-title {
    padding: 5px;
}
#edp3.country_insight #open-data-news-in ul li .views-field-title a {
    color: #202272;
}
#edp3.country_insight #open-data-news-in ul li time {
    font-size: 14px;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
#edp3.country_insight #open-data-news-in ul li time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.country_insight #open-data-news-in .view-footer {
    text-align: right;
    margin-top: 10px;
}
#edp3.country_insight #open-data-news-in .views-field-field-country .field-content:before {
    content: "\f024";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.country_insight #open-data-news-in .views-field-field-country {
    font-size: 14px;
    position: absolute;
    left: 110px;
    bottom: 10px;
}

/***********************************
	USE CASES
***********************************/
#edp3.use_cases .node__content .field--name-field-thumbnail {
    float: left;
    margin: 0 15px 15px 0;
}
#edp3.use_cases .node__content .field--name-field-country {
    margin-top: 15px;
}
#edp3.use_cases .node__content .field__label {
    width: 150px;
}
#edp3.use_cases .node__content .field--name-field-region,
#edp3.use_cases .node__content .field--name-field-type-of-use-case {
    clear: both;
}

/***********************************
    GENERIC ITEMS
***********************************/
#edp3.highlights .field--name-field-thumbnail {
    text-align: center;
}
#edp3.article .field--name-field-thumbnail img,
#edp3.highlights .field--name-field-thumbnail img,
#edp3.training_companion .field--name-field-thumbnail img {
    width: 100%;
}
#edp3.highlights .field--name-field-thumbnail img {
    max-width: 420px;
}
#edp3.article .field--name-field-publication-date-time time,
#edp3.highlights .field--name-field-publication-date-time time,
#edp3.article .field--name-field-country,
#edp3.highlights .field--name-field-country {
    font-size: 14px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
#edp3.article .field--name-field-publication-date-time time:before,
#edp3.highlights .field--name-field-publication-date-time time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.article .field--name-field-country .field__item,
#edp3.highlights .field--name-field-country .field__item {
    display: inline-block;
    margin-right: 10px;
}
#edp3.article .field--name-field-country .field__item:before,
#edp3.highlights .field--name-field-country .field__item:before {
    content: "\f024";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.article .field--name-field-subtitle,
#edp3.highlights .field--name-field-subtitle,
#edp3.training_companion .field--name-field-subtitle {
    border-left: 5px solid #202272;
    padding: 5px 5px 5px 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
#edp3.article .field--name-body,
#edp3.highlights .field--name-body {
    clear: both;
}

/***********************************
    TRAINING COMPANION
***********************************/
#edp3.training_companion .field--name-field-related-training-companion {
    margin-top: 15px;
}
#edp3.training_companion .field--name-field-related-training-companion .field__items .field__item a {
    border: 1px solid #202272;
    border-left-width: 5px;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    color: #202272 !important;
    border-radius: 4px;
}
#edp3 #block-training-companion-list ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
#edp3 #block-training-companion-list ul li {
    margin: 0;
    padding: 0;
    flex: 0 0 16.6%;
    list-style-type: none;
    padding: 10px;
}
#edp3 #block-training-companion-list ul li a {
    border: 1px solid #202272;
    border-top-width: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #202272;
}
#edp3 #block-training-companion-list ul li a:hover {
    color: #fff;
    background-color: #202272;
    text-decoration: none;
}

/***********************************
    COUNTRY INSIGHT WEBINARS
***********************************/
#edp3.country_insight #webinar-area {
    background-color: #f3fafe;
    padding: 20px;
}
#edp3.country_insight #webinar-area h2 {
    padding: 10px;
}
#edp3.country_insight #webinar-area ul {
    margin: 0;
    padding: 0;
    display: flex;
}
#edp3.country_insight #webinar-area ul li {
    margin: 10px;
    background-color: #ffffff;
    list-style-type: none;
    flex: 0 0 calc(25% - 20px);
}
#edp3.country_insight #webinar-area ul li a {
    color: #202272;
}
#edp3.country_insight #webinar-area ul li time {
    font-size: 14px;
}
#edp3.country_insight #webinar-area ul li time:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.country_insight #webinar-area .view-footer {
    text-align: right;
    padding-right: 10px;
}
#edp3.country_insight #webinar-area ul li .views-field-title {
    padding: 10px;
    min-height: 100px;
}
#edp3.country_insight #webinar-area ul li .views-field-field-country {
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    position: relative;
    top: 2px
}
#edp3.country_insight #webinar-area ul li .views-field-field-country .field-content:before {
    content: "\f024";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}
#edp3.country_insight #webinar-area ul li .views-field-field-publication-date {
    float: right;
    padding-right: 10px;

}

/***********************************
    NEWSLETTERS
***********************************/
#edp3.simplenews_issue table tbody tr:hover {
    background-color: initial;
}
#edp3.simplenews_issue table {
    border: 1px solid #E4E4E4;
    border-top: 5px solid #202272;
}
#edp3.simplenews_issue table tbody tr td {
    vertical-align: top;
}
#edp3.simplenews_issue table tbody tr td:first-of-type {
    width: 250px;
}
#edp3.simplenews_issue table tbody tr td:first-of-type img {
    width: 250px;
}
#edp3.simplenews_issue table tbody tr:last-of-type p {
    margin-bottom: 0;
}
#edp3.simplenews_issue table a {
    color: #202272 !important;
}